
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="1"><meta name="sentence_store" content="persian_poems_1">
</head>
<html>

<body>
<div class="main-container">
    <title>Mohammad Taqi Bahar</title>
<h1>Mohammad Taqi Bahar</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Mohammad Taqi Bahar.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container" dir="rtl">    
        <div class="word-group">
            
                <div class="word" title="" data-word-id="نسیمf43ffb49-4a66-4d34-a3d5-61aa3fe46c59" data-sentence-id="1">
                    نسیم
                    <div class="gloss">breeze</div>
                    <div class="alt">nasim</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> نسیم</div>
                </div>
                 
                <div class="word" title="" data-word-id="سحرfa8a686b-dca8-4932-94b3-106bf8d1c6b0" data-sentence-id="1">
                    سحر
                    <div class="gloss">dawn/morning</div>
                    <div class="alt">sahar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> سحر</div>
                </div>
                 
                <div class="word" title="" data-word-id="برca79e531-41df-42b9-a0c4-dd0e55285682" data-sentence-id="1">
                    بر
                    <div class="gloss">upon</div>
                    <div class="alt">bar</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> بر</div>
                </div>
                 
                <div class="word" title="" data-word-id="چمن7b86789d-512c-42b5-9a8f-e645a53b608f" data-sentence-id="1">
                    چمن
                    <div class="gloss">meadow</div>
                    <div class="alt">chaman</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> چمن</div>
                </div>
                 
                <div class="word" title="" data-word-id="گذرcbf3907f-b4d2-4e9e-8292-0af63a28917d" data-sentence-id="1">
                    گذر
                    <div class="gloss">pass</div>
                    <div class="alt">gozar</div>
                    <div class="lit">Imperative form of گذشتن</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> گذر</div>
                </div>
                 
                <div class="word" title="" data-word-id="کن4051caa2-8b46-44e1-a46d-68e027bb3eb8" data-sentence-id="1">
                    کن
                    <div class="gloss">do/make</div>
                    <div class="alt">kon</div>
                    <div class="lit">Imperative form of کردن</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> کن</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ز4ed6839b-f1a3-4d8f-bdad-c650499e1e11" data-sentence-id="1">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Shortened form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                
                <div class="word" title="" data-word-id="من8b267b4b-e358-45b0-8fbc-47e056857973" data-sentence-id="1">
                    من
                    <div class="gloss">me</div>
                    <div class="alt">man</div>
                    <div class="lit">First person pronoun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> زمن</div>
                </div>
                 
                <div class="word" title="" data-word-id="بلبل45652dd0-7851-4af9-b0b2-559197cebd77" data-sentence-id="1">
                    بلبل
                    <div class="gloss">nightingale</div>
                    <div class="alt">bolbol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> بلبل</div>
                </div>
                 
                <div class="word" title="" data-word-id="خستهaaf03b3d-0ab2-414e-9041-d70b4401683f" data-sentence-id="1">
                    خسته
                    <div class="gloss">tired/weary</div>
                    <div class="alt">khaste</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> خسته</div>
                </div>
                 
                <div class="word" title="" data-word-id="راa6cdcda8-eadb-43fe-85f4-da4392bc1abc" data-sentence-id="1">
                    را
                    <div class="gloss">object marker</div>
                    <div class="alt">ra</div>
                    <div class="lit">Postposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> را</div>
                </div>
                 
                <div class="word" title="" data-word-id="خبر3418f9fc-bee8-4d73-81e9-31405ce7adf0" data-sentence-id="1">
                    خبر
                    <div class="gloss">inform</div>
                    <div class="alt">khabar</div>
                    <div class="lit">Noun used as verb root</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خبرکن</div>
                </div>
                
                <div class="word" title="" data-word-id="کن00ac15b0-98fe-4814-970e-d480efb6f9f7" data-sentence-id="1">
                    کن
                    <div class="gloss">do/make</div>
                    <div class="alt">kon</div>
                    <div class="lit">Imperative form of کردن</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> سرکن</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ز0013ea2f-bd56-45e0-b8a2-90445d25e96c" data-sentence-id="1">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Shortened form of از</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> زد#زن</div>
                </div>
                 
                <div class="word" title="" data-word-id="بیداد6ea194f4-28da-49c8-b5f6-cb0e7125c49b" data-sentence-id="1">
                    بیداد
                    <div class="gloss">cruelty/injustice</div>
                    <div class="alt">bidad</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> بیداد</div>
                </div>
                 
                <div class="word" title="" data-word-id="گلfac1ec13-a40b-4082-ba7c-a456ba884b65" data-sentence-id="1">
                    گل
                    <div class="gloss">rose</div>
                    <div class="alt">gol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> گل</div>
                </div>
                 
                <div class="word" title="" data-word-id="آهd0ec0e1c-7959-4939-b2a1-1d5a7286ad41" data-sentence-id="1">
                    آه
                    <div class="gloss">sigh</div>
                    <div class="alt">ah</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> آه</div>
                </div>
                 
                <div class="word" title="" data-word-id="و76668cba-7645-4459-905e-d855b45397ee" data-sentence-id="1">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="نالهda6b85a2-e5e7-4c1b-ab31-8a01ba940612" data-sentence-id="1">
                    ناله
                    <div class="gloss">lamentation</div>
                    <div class="alt">nale</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> ناله</div>
                </div>
                 
                <div class="word" title="" data-word-id="سر9d736fb9-7877-4e56-a538-8dce41e9a865" data-sentence-id="1">
                    سر
                    <div class="gloss">start/begin</div>
                    <div class="alt">sar</div>
                    <div class="lit">Verb root</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="کن4688b1a0-a83e-4e3f-9082-92eff03e90d5" data-sentence-id="1">
                    کن
                    <div class="gloss">do/make</div>
                    <div class="alt">kon</div>
                    <div class="lit">Imperative form of کردن</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> کنار</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="شبی0e4466e8-c4c4-47b3-9bd8-419030b8e985" data-sentence-id="1">
                    شبی
                    <div class="gloss">a night</div>
                    <div class="alt">shabi</div>
                    <div class="lit">Indefinite noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شبی</div>
                </div>
                 
                <div class="word" title="" data-word-id="سحر3a69a953-8d97-4200-aba3-63a6f8623b79" data-sentence-id="1">
                    سحر
                    <div class="gloss">dawn</div>
                    <div class="alt">sahar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> سحرکن</div>
                </div>
                
                <div class="word" title="" data-word-id="کن4287e82c-4077-4e8a-8455-905679c3c154" data-sentence-id="1">
                    کن
                    <div class="gloss">make</div>
                    <div class="alt">kon</div>
                    <div class="lit">Imperative form of کردن</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="-‌9d081797-0318-4578-a1ee-bfbc96234845" data-sentence-id="1">
                    -‌
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> -</div>
                </div>
                 
                <div class="word" title="" data-word-id="شبیe6f00561-1ae1-48c2-9b34-497b7536cb6f" data-sentence-id="1">
                    شبی
                    <div class="gloss">a night</div>
                    <div class="alt">shabi</div>
                    <div class="lit">Indefinite noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شبی</div>
                </div>
                 
                <div class="word" title="" data-word-id="سحر6b916ac4-820d-47cd-933e-41648eb1fdb4" data-sentence-id="1">
                    سحر
                    <div class="gloss">dawn</div>
                    <div class="alt">sahar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> سحرکن</div>
                </div>
                
                <div class="word" title="" data-word-id="کن2d1f6b17-0a7e-4141-97ef-dbdb05aad3de" data-sentence-id="1">
                    کن
                    <div class="gloss">make</div>
                    <div class="alt">kon</div>
                    <div class="lit">Imperative form of کردن</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="سکوتef2506bd-1f3e-400b-be08-6e47bf0a864b" data-sentence-id="1">
                    سکوت
                    <div class="gloss">silence</div>
                    <div class="alt">sokut</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> سکوت</div>
                </div>
                 
                <div class="word" title="" data-word-id="شبcab36b32-52c3-4678-8b80-c2e76e1442b9" data-sentence-id="1">
                    شب
                    <div class="gloss">night</div>
                    <div class="alt">shab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شب</div>
                </div>
                 
                <div class="word" title="" data-word-id="وa8414d8e-e024-4264-be2a-6b8b6e00b11f" data-sentence-id="1">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="نوای3345172d-13e5-40f9-bfbe-432b301ec9d2" data-sentence-id="1">
                    نوای
                    <div class="gloss">melody/song</div>
                    <div class="alt">navay-e</div>
                    <div class="lit">Noun with ezafe</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> نوای</div>
                </div>
                 
                <div class="word" title="" data-word-id="بلبلabd7bb0a-74d0-441d-a8b1-a4fb30d94da6" data-sentence-id="1">
                    بلبل
                    <div class="gloss">nightingale</div>
                    <div class="alt">bolbol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> بلبل</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="شکرخنده90a9ae9f-bfd4-4211-a909-03a8c14eeee6" data-sentence-id="1">
                    شکرخنده
                    <div class="gloss">sweet smile</div>
                    <div class="alt">shekar-khande</div>
                    <div class="lit">Compound noun</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> شکرخنده</div>
                </div>
                 
                <div class="word" title="" data-word-id="زدc5acb4fd-2ce4-4ddb-9bf6-cae6ac1d0e9b" data-sentence-id="1">
                    زد
                    <div class="gloss">struck/made</div>
                    <div class="alt">zad</div>
                    <div class="lit">Past tense of زدن</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="به3272fc54-4c8f-41e2-ac1b-51ee5be380a0" data-sentence-id="1">
                    به
                    <div class="gloss">to/on</div>
                    <div class="alt">be</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> به</div>
                </div>
                 
                <div class="word" title="" data-word-id="چهرهٔ99a0d4c0-95da-4e68-8c44-cc4653cae7b7" data-sentence-id="1">
                    چهرهٔ
                    <div class="gloss">face of</div>
                    <div class="alt">chehre-ye</div>
                    <div class="lit">Noun with ezafe</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> چهره</div>
                </div>
                 
                <div class="word" title="" data-word-id="گل945d7d81-8625-4c27-a40d-75dbe736a611" data-sentence-id="1">
                    گل
                    <div class="gloss">rose</div>
                    <div class="alt">gol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گل</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="کنارb4195dfa-6973-4d13-9527-79edf03f6d84" data-sentence-id="1">
                    کنار
                    <div class="gloss">beside</div>
                    <div class="alt">kenar</div>
                    <div class="lit">Noun/Preposition</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="بستان801af352-e5c7-43de-adda-7f9bb79cdc23" data-sentence-id="1">
                    بستان
                    <div class="gloss">garden</div>
                    <div class="alt">bostan</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> بستان</div>
                </div>
                 
                <div class="word" title="" data-word-id="-‌e2d7f3fa-aac0-4ad6-9d74-d9f4e27c5ac6" data-sentence-id="1">
                    -‌
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="به1770bbf2-8e00-4a16-887d-f81fea3106e3" data-sentence-id="1">
                    به
                    <div class="gloss">to/in</div>
                    <div class="alt">be</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> -به</div>
                </div>
                 
                <div class="word" title="" data-word-id="یاد0a1b5d18-4bb1-4b1a-87c4-c68c9d118c72" data-sentence-id="1">
                    یاد
                    <div class="gloss">memory</div>
                    <div class="alt">yad</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> یاد</div>
                </div>
                 
                <div class="word" title="" data-word-id="مستانe12e3e00-bf8f-4759-a601-e9876959d991" data-sentence-id="1">
                    مستان
                    <div class="gloss">intoxicated ones</div>
                    <div class="alt">mastan</div>
                    <div class="lit">Plural noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> مستان</div>
                </div>
                 
                <div class="word" title="" data-word-id="-‌68ed2f4a-fc87-4be6-ba7f-0efc873ff47b" data-sentence-id="1">
                    -‌
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="بنوش40caa050-87af-4eeb-8eb1-a9bbfb6a3eb5" data-sentence-id="1">
                    بنوش
                    <div class="gloss">drink</div>
                    <div class="alt">benush</div>
                    <div class="lit">Imperative form of نوشیدن</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> -بنوش</div>
                </div>
                 
                <div class="word" title="" data-word-id="میd0adffc8-c678-4ef0-8610-36c2b0363980" data-sentence-id="1">
                    می
                    <div class="gloss">wine</div>
                    <div class="alt">mey</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> می</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ماهa8d83102-f414-4aa1-bd20-89beeba60e3d" data-sentence-id="2">
                    ماه
                    <div class="gloss">moon</div>
                    <div class="alt">mah</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> ماه</div>
                </div>
                 
                <div class="word" title="" data-word-id="منba2e1d5e-53aa-4fae-8d6f-e0c19ff7aa4e" data-sentence-id="2">
                    من
                    <div class="gloss">my</div>
                    <div class="alt">man</div>
                    <div class="lit">Possessive pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="دلدار505a0e71-1946-4a98-aa01-7f0485927bac" data-sentence-id="2">
                    دلدار
                    <div class="gloss">beloved</div>
                    <div class="alt">deldar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> دلدار</div>
                </div>
                 
                <div class="word" title="" data-word-id="من81f09350-889a-44b1-a371-d8c797edb57a" data-sentence-id="2">
                    من
                    <div class="gloss">my</div>
                    <div class="alt">man</div>
                    <div class="lit">Possessive pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="توییe49e0488-eecb-4ecb-b5aa-2d8a195e3f5e" data-sentence-id="2">
                    تویی
                    <div class="gloss">are you</div>
                    <div class="alt">to-yi</div>
                    <div class="lit">Second person present of بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> تویی</div>
                </div>
                 
                <div class="word" title="" data-word-id="آزار44392bf3-7f2b-4fcb-936e-a2bc06f22309" data-sentence-id="2">
                    آزار
                    <div class="gloss">torment</div>
                    <div class="alt">azar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> آزار</div>
                </div>
                 
                <div class="word" title="" data-word-id="من2ab0f8b3-3f9d-4d17-ae37-e879f858c8db" data-sentence-id="2">
                    من
                    <div class="gloss">my</div>
                    <div class="alt">man</div>
                    <div class="lit">Possessive pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="تویی618dc0c0-1c6c-41a1-abc3-0b2ff6f0b0ce" data-sentence-id="2">
                    تویی
                    <div class="gloss">are you</div>
                    <div class="alt">to-yi</div>
                    <div class="lit">Second person present of بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> تویی</div>
                </div>
                 
                <div class="word" title="" data-word-id="توda4494d4-8e0a-4730-8620-5090557b41b7" data-sentence-id="2">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Personal pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="هر727a2882-3166-4527-869a-691880db7556" data-sentence-id="2">
                    هر
                    <div class="gloss">every</div>
                    <div class="alt">har</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> DET</div>
                    <div class="dictionary"> هر</div>
                </div>
                 
                <div class="word" title="" data-word-id="کجا39f3527b-8db1-4b87-9a51-b82cb6b538ff" data-sentence-id="2">
                    کجا
                    <div class="gloss">where</div>
                    <div class="alt">koja</div>
                    <div class="lit">Adverb</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> کجا</div>
                </div>
                 
                <div class="word" title="" data-word-id="همراهcea6e991-5096-4c56-9f63-6f86cdbd72ca" data-sentence-id="2">
                    همراه
                    <div class="gloss">companion</div>
                    <div class="alt">hamrah</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> همراه</div>
                </div>
                 
                <div class="word" title="" data-word-id="من3d6c81ce-c5e3-47ef-8e54-f8a734e9001d" data-sentence-id="2">
                    من
                    <div class="gloss">my</div>
                    <div class="alt">man</div>
                    <div class="lit">Possessive pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="تویی8b32899f-884e-425a-852a-520a539ec248" data-sentence-id="2">
                    تویی
                    <div class="gloss">are you</div>
                    <div class="alt">to-yi</div>
                    <div class="lit">Second person present of بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> تویی</div>
                </div>
                 
                <div class="word" title="" data-word-id="دلخواه6121188c-1bb1-4cca-bc0f-ce891127b73b" data-sentence-id="2">
                    دلخواه
                    <div class="gloss">desired</div>
                    <div class="alt">delkhah</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ,EZ</div>
                    <div class="dictionary"> دلخواه</div>
                </div>
                 
                <div class="word" title="" data-word-id="منb985d792-0325-4575-8824-affe43051fd6" data-sentence-id="2">
                    من
                    <div class="gloss">my</div>
                    <div class="alt">man</div>
                    <div class="lit">Possessive pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="توییbb7d7c4e-1898-4be6-8167-d4409b46f2a3" data-sentence-id="2">
                    تویی
                    <div class="gloss">are you</div>
                    <div class="alt">to-yi</div>
                    <div class="lit">Second person present of بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> تویی</div>
                </div>
                 
                <div class="word" title="" data-word-id="تacff0639-e39c-4aa8-89e3-461e8fab12bc" data-sentence-id="2">
                    ت
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Personal pronoun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> ت</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="روزیa09319bc-c47c-47cc-9879-12c7fe4d4b8d" data-sentence-id="2">
                    روزی
                    <div class="gloss">one day</div>
                    <div class="alt">ruzi</div>
                    <div class="lit">Noun with indefinite یی</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> روزید#روز</div>
                </div>
                 
                <div class="word" title="" data-word-id="آهمe1ca6a04-5114-4a92-a4e4-9374ff8f2722" data-sentence-id="2">
                    آهم
                    <div class="gloss">my sigh</div>
                    <div class="alt">aham</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> آه</div>
                </div>
                 
                <div class="word" title="" data-word-id="گیردc2d7bd65-5316-4e4a-a14a-a892da7eabfb" data-sentence-id="2">
                    گیرد
                    <div class="gloss">catches</div>
                    <div class="alt">girad</div>
                    <div class="lit">Present subjunctive of گرفتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> گرفت#گیر</div>
                </div>
                 
                <div class="word" title="" data-word-id="دامنتb9b749f6-3651-490f-b836-a352ec53c223" data-sentence-id="2">
                    دامنت
                    <div class="gloss">your hem</div>
                    <div class="alt">damanat</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دامن</div>
                </div>
                 
                <div class="word" title="" data-word-id="سوزدb93ee2d5-b796-47ea-a423-a9e4987f1294" data-sentence-id="2">
                    سوزد
                    <div class="gloss">burns</div>
                    <div class="alt">suzad</div>
                    <div class="lit">Present subjunctive of سوختن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> سوخت#سوز</div>
                </div>
                 
                <div class="word" title="" data-word-id="باc4e56cc6-3cf8-4875-988b-dba273a8e93e" data-sentence-id="2">
                    با
                    <div class="gloss">with</div>
                    <div class="alt">ba</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> با</div>
                </div>
                 
                <div class="word" title="" data-word-id="منت37e4c22a-d3ce-4b8f-9819-cdecc9b8d252" data-sentence-id="2">
                    منت
                    <div class="gloss">your grace</div>
                    <div class="alt">mennat</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> منت</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="روزیcc399220-1fb2-4618-8273-f950a291ff7c" data-sentence-id="2">
                    روزی
                    <div class="gloss">one day</div>
                    <div class="alt">ruzi</div>
                    <div class="lit">Noun with indefinite یی</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> روزید#روز</div>
                </div>
                 
                <div class="word" title="" data-word-id="آهمdce0a1d2-692e-4849-917f-159e14058e99" data-sentence-id="2">
                    آهم
                    <div class="gloss">my sigh</div>
                    <div class="alt">aham</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> آه</div>
                </div>
                 
                <div class="word" title="" data-word-id="گیردe71ec727-3039-4365-beb9-f645b50955cb" data-sentence-id="2">
                    گیرد
                    <div class="gloss">catches</div>
                    <div class="alt">girad</div>
                    <div class="lit">Present subjunctive of گرفتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> گرفت#گیر</div>
                </div>
                 
                <div class="word" title="" data-word-id="دامنت2c472ddc-2365-4335-be07-2945ce726591" data-sentence-id="2">
                    دامنت
                    <div class="gloss">your hem</div>
                    <div class="alt">damanat</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دامن</div>
                </div>
                 
                <div class="word" title="" data-word-id="سوزدb4ec8398-475e-47f0-a5a9-3811bdc47fc4" data-sentence-id="2">
                    سوزد
                    <div class="gloss">burns</div>
                    <div class="alt">suzad</div>
                    <div class="lit">Present subjunctive of سوختن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> سوخت#سوز</div>
                </div>
                 
                <div class="word" title="" data-word-id="باcb234361-b70f-4589-91fd-0ded44e383bd" data-sentence-id="2">
                    با
                    <div class="gloss">with</div>
                    <div class="alt">ba</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> با</div>
                </div>
                 
                <div class="word" title="" data-word-id="منت5ae71a49-5151-4879-8e1d-1c5dde062459" data-sentence-id="2">
                    منت
                    <div class="gloss">your grace</div>
                    <div class="alt">mennat</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> منت</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="گر963f5ac4-fac0-4fd0-852f-bb22901679b3" data-sentence-id="2">
                    گر
                    <div class="gloss">if</div>
                    <div class="alt">gar</div>
                    <div class="lit">Conditional conjunction</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گر</div>
                </div>
                 
                <div class="word" title="" data-word-id="شود75511b10-a94e-45c9-8a50-ac5b47c27ed0" data-sentence-id="2">
                    شود
                    <div class="gloss">becomes</div>
                    <div class="alt">shavad</div>
                    <div class="lit">Present subjunctive of شدن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> شد#شو</div>
                </div>
                 
                <div class="word" title="" data-word-id="دلم57301878-2153-4833-a62e-53974305cd18" data-sentence-id="2">
                    دلم
                    <div class="gloss">my heart</div>
                    <div class="alt">delam</div>
                    <div class="lit">Noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دلم</div>
                </div>
                 
                <div class="word" title="" data-word-id="کوه9a30dcc5-a353-48fb-b141-5537a60a85e4" data-sentence-id="2">
                    کوه
                    <div class="gloss">mountain</div>
                    <div class="alt">kuh</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> کوه</div>
                </div>
                 
                <div class="word" title="" data-word-id="دردfe64bd8c-21c6-49bf-b977-ef7ba14ca26b" data-sentence-id="2">
                    درد
                    <div class="gloss">pain</div>
                    <div class="alt">dard</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> درد</div>
                </div>
                 
                <div class="word" title="" data-word-id="وb9c84308-d554-447b-a9f5-cc483786a6f3" data-sentence-id="2">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="غم0c89068e-4ec0-4433-94ea-a9fac2b8c6f0" data-sentence-id="2">
                    غم
                    <div class="gloss">sorrow</div>
                    <div class="alt">gham</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> غم</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="همچوa75d5775-8fd6-4bd4-beb6-2bb000c6121f" data-sentence-id="2">
                    همچو
                    <div class="gloss">like</div>
                    <div class="alt">hamchu</div>
                    <div class="lit">Comparative preposition</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> همچو</div>
                </div>
                 
                <div class="word" title="" data-word-id="فرهادشc8f6a60e-c680-4d66-b220-e5e2dfd2874c" data-sentence-id="2">
                    فرهادش
                    <div class="gloss">its Farhad</div>
                    <div class="alt">farhadash</div>
                    <div class="lit">Proper noun with possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> فرهاد</div>
                </div>
                 
                <div class="word" title="" data-word-id="از9e033d8a-ca0a-4f90-94af-2dc4b4d39028" data-sentence-id="2">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="ریشه72975430-07dc-452c-9c58-120985b1ca76" data-sentence-id="2">
                    ریشه
                    <div class="gloss">root</div>
                    <div class="alt">rishe</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> ریشه</div>
                </div>
                 
                <div class="word" title="" data-word-id="برکنم847f6892-5ee2-4c44-9c42-34c62632d579" data-sentence-id="2">
                    برکنم
                    <div class="gloss">I uproot</div>
                    <div class="alt">barkanam</div>
                    <div class="lit">Present subjunctive of برکندن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> برکنم</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="من1c6d0733-0d71-4389-aa2d-ddb9fe8ea379" data-sentence-id="2">
                    من
                    <div class="gloss">I</div>
                    <div class="alt">man</div>
                    <div class="lit">Personal pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="همانc3e424fd-6fac-4b8e-bfe9-75b4109ff1df" data-sentence-id="2">
                    همان
                    <div class="gloss">that same</div>
                    <div class="alt">haman</div>
                    <div class="lit">Demonstrative adjective</div>
                    <div class="pos"> DET</div>
                    <div class="dictionary"> همان</div>
                </div>
                 
                <div class="word" title="" data-word-id="مرغ88e63833-d157-43a3-8d27-7cc48b925941" data-sentence-id="2">
                    مرغ
                    <div class="gloss">bird</div>
                    <div class="alt">morgh</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> مرغ</div>
                </div>
                 
                <div class="word" title="" data-word-id="بی‌1da1751c-e6f8-4891-987a-bf25bf98e179" data-sentence-id="2">
                    بی‌
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="بالd59951e6-75b9-41ed-86d4-19b24f5793ce" data-sentence-id="2">
                    بال
                    <div class="gloss">wingless</div>
                    <div class="alt">bi-bal</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> بی‌بال</div>
                </div>
                 
                <div class="word" title="" data-word-id="وaf992bdb-92f7-4bcc-9216-7c40b5f59c06" data-sentence-id="2">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                
                <div class="word" title="" data-word-id="پرf8c25ba9-c2e0-477b-a7c0-62da54f41e5f" data-sentence-id="2">
                    پر
                    <div class="gloss">feather</div>
                    <div class="alt">par</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> وپر</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="شاخ33d9ff8b-c148-42c6-b4c3-27d2ef1f031f" data-sentence-id="2">
                    شاخ
                    <div class="gloss">branch</div>
                    <div class="alt">shakh</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> شاخ</div>
                </div>
                 
                <div class="word" title="" data-word-id="بی‌f741ef8f-5efe-4f8e-b4e1-721a0d42c979" data-sentence-id="2">
                    بی‌
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="برگe2f5875a-4522-4256-bf59-ca6937c1139c" data-sentence-id="2">
                    برگ
                    <div class="gloss">leafless</div>
                    <div class="alt">bi-barg</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> بی‌برگ</div>
                </div>
                 
                <div class="word" title="" data-word-id="و196a00eb-98d6-4d30-ad03-cf69928f8557" data-sentence-id="2">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="بر91f1c1b1-1765-4bc0-8d4a-4133b8072bcd" data-sentence-id="2">
                    بر
                    <div class="gloss">fruit</div>
                    <div class="alt">bar</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> بر</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="دلbd84c74f-ee18-4c88-a6bd-5911c29dd0cd" data-sentence-id="2">
                    دل
                    <div class="gloss">heart</div>
                    <div class="alt">del</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دل</div>
                </div>
                 
                <div class="word" title="" data-word-id="آزرده‌0ad55fad-4374-4a8d-85c5-48390d5b76b6" data-sentence-id="2">
                    آزرده‌
                    <div class="gloss">I am wounded</div>
                    <div class="alt">azorde-am</div>
                    <div class="lit">Past participle with first person suffix</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> آزرد#آزار</div>
                </div>
                
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    