
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="2"><meta name="previous_page" content="1"><meta name="sentence_store" content="persian_poems_2">
</head>
<html>

<body>
<div class="main-container">
    <title>Ramkeli</title>
<h1>Ramkeli</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Ramkeli.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container" dir="rtl">    
        <div class="word-group">
            
                <div class="word" title="" data-word-id="تاd45b58cb-1c68-443d-b7e5-de0591ae5fba" data-sentence-id="1">
                    تا
                    <div class="gloss">until</div>
                    <div class="alt">ta</div>
                    <div class="lit">Temporal preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> تا</div>
                </div>
                 
                <div class="word" title="" data-word-id="کی6ef1ff3a-2ae6-4ea9-9117-19496b54f5bc" data-sentence-id="1">
                    کی
                    <div class="gloss">when/how long</div>
                    <div class="alt">key</div>
                    <div class="lit">Question word</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> کی</div>
                </div>
                 
                <div class="word" title="" data-word-id="برهنه9e345f58-f2e8-4030-bfc0-2216cbc15b74" data-sentence-id="1">
                    برهنه
                    <div class="gloss">bare</div>
                    <div class="alt">berehne</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> برهنه</div>
                </div>
                 
                <div class="word" title="" data-word-id="پاcc6fb9bc-fdc0-412c-8806-4df191a83eba" data-sentence-id="1">
                    پا
                    <div class="gloss">foot</div>
                    <div class="alt">pa</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> پا</div>
                </div>
                 
                <div class="word" title="" data-word-id="ز3d136333-f608-4cbb-b574-b4e84cf6ad6c" data-sentence-id="1">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Poetic form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="پی5cbaa1dc-6213-4173-87b6-7086df3d6b30" data-sentence-id="1">
                    پی
                    <div class="gloss">after/following</div>
                    <div class="alt">pey</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> پی</div>
                </div>
                 
                <div class="word" title="" data-word-id="ات4dc49cbc-fd45-49db-9f2f-460cf1979483" data-sentence-id="1">
                    ات
                    <div class="gloss">your</div>
                    <div class="alt">at</div>
                    <div class="lit">Second person possessive suffix</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> ناز</div>
                </div>
                 
                <div class="word" title="" data-word-id="میدوانیم65dd83bc-c6d0-4ce7-92b4-86ce5a95b905" data-sentence-id="1">
                    میدوانیم
                    <div class="gloss">I run</div>
                    <div class="alt">midavanam</div>
                    <div class="lit">Present continuous form of دویدن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> دواند#دوان</div>
                </div>
                          
                <div class="word" title="" data-word-id="تا2a9b798b-1b73-4598-aa3b-137392489b04" data-sentence-id="1">
                    تا
                    <div class="gloss">until</div>
                    <div class="alt">ta</div>
                    <div class="lit">Temporal preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> تا</div>
                </div>
                 
                <div class="word" title="" data-word-id="کی38f9d090-974b-497f-ab34-75f5db6e776f" data-sentence-id="1">
                    کی
                    <div class="gloss">when/how long</div>
                    <div class="alt">key</div>
                    <div class="lit">Question word</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> کی</div>
                </div>
                 
                <div class="word" title="" data-word-id="خدنگe7617f49-b69e-4a73-9056-d49e0bd28d67" data-sentence-id="1">
                    خدنگ
                    <div class="gloss">arrow</div>
                    <div class="alt">khadang</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خدنگ</div>
                </div>
                 
                <div class="word" title="" data-word-id="غمزه77e21811-e0bb-4ea7-ba5b-0e0bed7a2039" data-sentence-id="1">
                    غمزه
                    <div class="gloss">coy glance</div>
                    <div class="alt">ghamze</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> غمزه</div>
                </div>
                 
                <div class="word" title="" data-word-id="ی4e6c457f-ab91-4cb6-bae6-b5bad019714b" data-sentence-id="1">
                    ی
                    <div class="gloss">of</div>
                    <div class="alt">ye</div>
                    <div class="lit">Ezafe marker</div>
                    <div class="pos"> NUM</div>
                    <div class="dictionary"> یک</div>
                </div>
                 
                <div class="word" title="" data-word-id="ناز38e6723c-902c-4dd1-8092-35b38f9fb0a6" data-sentence-id="1">
                    ناز
                    <div class="gloss">coquetry</div>
                    <div class="alt">naz</div>
                    <div class="lit">Noun</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                
                <div class="word" title="" data-word-id="ت3c455d36-8f5b-4bfc-b98e-f4958c6bf257" data-sentence-id="1">
                    ت
                    <div class="gloss">your</div>
                    <div class="alt">at</div>
                    <div class="lit">Second person possessive suffix</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="چشانیم7a66be35-9db0-4eaf-8063-ec8076772bb2" data-sentence-id="1">
                    چشانیم
                    <div class="gloss">I taste</div>
                    <div class="alt">cheshanam</div>
                    <div class="lit">Present form of چشیدن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> چشان</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="یکf4c90bf6-ae67-4173-9047-924485b9713e" data-sentence-id="1">
                    یک
                    <div class="gloss">one</div>
                    <div class="alt">yek</div>
                    <div class="lit">Numeral</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="گل7af33b50-4178-40ba-91e9-8134564638da" data-sentence-id="1">
                    گل
                    <div class="gloss">flower</div>
                    <div class="alt">gol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گل</div>
                </div>
                 
                <div class="word" title="" data-word-id="نچیده ام0fbd3ea4-18da-4b4f-8ff5-358569e26d31" data-sentence-id="1">
                    نچیده ام
                    <div class="gloss">I haven't picked</div>
                    <div class="alt">nachide-am</div>
                    <div class="lit">Negative perfect form of چیدن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> چید#چین</div>
                </div>
                 
                <div class="word" title="" data-word-id="ز7ebffb05-4dbe-4805-9b75-d03d21f275ea" data-sentence-id="1">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Poetic form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="گلستانf3283d60-3d6a-4f25-a5d2-ef4eff6b4dee" data-sentence-id="1">
                    گلستان
                    <div class="gloss">garden</div>
                    <div class="alt">golestan</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گلستان</div>
                </div>
                 
                <div class="word" title="" data-word-id="وصل3950c19b-856b-48a0-8b8d-aa6744b59ff6" data-sentence-id="1">
                    وصل
                    <div class="gloss">union</div>
                    <div class="alt">vasl</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> وصل</div>
                </div>
                 
                <div class="word" title="" data-word-id="توab92b858-764b-4f11-b83e-32ff7214da5e" data-sentence-id="1">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person pronoun</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                        
                <div class="word" title="" data-word-id="شهرت32706796-692e-410f-a0f0-0c6198339ad4" data-sentence-id="1">
                    شهرت
                    <div class="gloss">fame</div>
                    <div class="alt">shohrat</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شهرت</div>
                </div>
                 
                <div class="word" title="" data-word-id="گرفته5a8d0f0b-35b6-4d57-b7a9-5342919d1b5d" data-sentence-id="1">
                    گرفته
                    <div class="gloss">taken/gained</div>
                    <div class="alt">gerefte</div>
                    <div class="lit">Past participle of گرفتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> گرفته</div>
                </div>
                 
                <div class="word" title="" data-word-id="در48084b43-5a8e-4e22-9136-b32f82165ab0" data-sentence-id="1">
                    در
                    <div class="gloss">in</div>
                    <div class="alt">dar</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> در</div>
                </div>
                 
                <div class="word" title="" data-word-id="همهcbe9093d-f758-4238-89bc-e31803c4e836" data-sentence-id="1">
                    همه
                    <div class="gloss">all</div>
                    <div class="alt">hame</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> همه‌جا</div>
                </div>
                 
                <div class="word" title="" data-word-id="جا03d06df4-71b0-4d82-a785-3bf1d9a5e07f" data-sentence-id="1">
                    جا
                    <div class="gloss">place</div>
                    <div class="alt">ja</div>
                    <div class="lit">Noun</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="باغبانیم31766512-35d5-427d-9b14-cdb166bd6d13" data-sentence-id="1">
                    باغبانیم
                    <div class="gloss">I am gardener</div>
                    <div class="alt">baghbanam</div>
                    <div class="lit">First person present of باغبان بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> باغبان</div>
                </div>
                
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    