
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="1"><meta name="sentence_store" content="castlevania_1">
</head>
<html>

<body>
<div class="main-container">
    <title>Castlevania</title>
<h1>Castlevania</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Castlevania.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container">    
        <div class="word-group">
            
                </div> 
                <div class="word-group">
    <div class="word" title="drawing" data-word-id="ん？b68c25eb-afd1-430b-9736-4a62daf069b3" data-sentence-id="1">
        ん？
        <div class="gloss">Hm?</div>
        <div class="alt"></div>
        <div class="lit"> ん</div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> ず</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="darknessindicates possessive" data-word-id="暗黒の9fe1b0cd-eb87-49e7-9ed3-f5b1a8a212bb" data-sentence-id="1">
        暗黒の
        <div class="gloss">[of] darkness</div>
        <div class="alt"></div>
        <div class="lit"> あんこく の</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 暗黒 の</div>
    </div>
    
    <div class="word" title="forceindicates direct object of action" data-word-id="力を37671b20-0fc1-4be7-ad2b-5ce53ee47c15" data-sentence-id="1">
        力を
        <div class="gloss">power</div>
        <div class="alt"></div>
        <div class="lit"> ちから を</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 力 を</div>
    </div>
    
    <div class="word" title="to feel" data-word-id="感じる4db52fa3-b071-4939-ac36-574ecd8e0b88" data-sentence-id="1">
        感じる
        <div class="gloss">[I] sense</div>
        <div class="alt"></div>
        <div class="lit"> かんじ</div>
        <div class="pos"> 動詞,一般,*,*</div>
        <div class="dictionary"> 感ずる</div>
    </div>
    
    <div class="word" title="" data-word-id="…。f4f8a59a-d8c2-4a34-8ff0-2f8a2d934220" data-sentence-id="1">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="you" data-word-id="お前、61fa60c0-3155-4c91-90e6-ff804bd24e3d" data-sentence-id="1">
        お前、
        <div class="gloss">you</div>
        <div class="alt"></div>
        <div class="lit"> お</div>
        <div class="pos"> 代名詞,*,*,*</div>
        <div class="dictionary"> 御前</div>
    </div>
    
    <div class="word" title="whodui (one of the trigrams of the I Ching: swamp, west)" data-word-id="何者だ？47522fe3-75ed-409f-a73b-397a0009ca04" data-sentence-id="1">
        何者だ？
        <div class="gloss">what kind of being [are you]?</div>
        <div class="alt"></div>
        <div class="lit"> なにもの だ</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助動詞,*,*,*</div>
        <div class="dictionary"> 何者 だ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="-ian (e.g. Italian)load" data-word-id="人に3239d170-36de-48b2-81bc-d916cc75c5f4" data-sentence-id="2">
        人に
        <div class="gloss">to people</div>
        <div class="alt"></div>
        <div class="lit"> にん に</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 人 に</div>
    </div>
    
    <div class="word" title="nameindicates direct object of action" data-word-id="名前を0f081815-7e37-415c-89e5-da3266004ea5" data-sentence-id="2">
        名前を
        <div class="gloss">name</div>
        <div class="alt"></div>
        <div class="lit"> なまえ を</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 名前 を</div>
    </div>
    
    <div class="word" title="to heartimefeather" data-word-id="聞くときは44ff4bbf-ffdd-4863-ac39-78ee89d2d6b0" data-sentence-id="2">
        聞くときは
        <div class="gloss">when asking for</div>
        <div class="alt"></div>
        <div class="lit"> きく とき は</div>
        <div class="pos"> 動詞,一般,*,* 名詞,普通名詞,副詞可能,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 聞く 時 は</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="myselffrom (e.g. time, place, numerical quantity)" data-word-id="自分からd22c505e-bcbb-4d04-a74d-fc9b00dd55d8" data-sentence-id="2">
        自分から
        <div class="gloss">oneself first</div>
        <div class="alt"></div>
        <div class="lit"> じぶん から</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 自分 から</div>
    </div>
    
    <div class="word" title="to give one's name (as)indicates possessivemoth" data-word-id="名乗るのがe7e25cec-6bae-45d1-bac6-d5aaf939f330" data-sentence-id="2">
        名乗るのが
        <div class="gloss">introducing</div>
        <div class="alt"></div>
        <div class="lit"> なのる の が</div>
        <div class="pos"> 動詞,一般,*,* 助詞,準体助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 名乗る の が</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="manners" data-word-id="礼儀af741018-01bb-4bdb-9166-5688523f0080" data-sentence-id="2">
        礼儀
        <div class="gloss">manners/etiquette</div>
        <div class="alt"></div>
        <div class="lit"> れいぎ</div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 礼儀</div>
    </div>
    
    <div class="word" title="you said" data-word-id="ってb3334c6f-de94-4f82-8901-23b5d9329ea2" data-sentence-id="2">
        って
        <div class="gloss">called/known as</div>
        <div class="alt"></div>
        <div class="lit"> って</div>
        <div class="pos"> 助詞,副助詞,*,*</div>
        <div class="dictionary"> って</div>
    </div>
    
    <div class="word" title="thingdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="もんだろ？9ef52257-a4d0-42f9-beef-546e50341fe1" data-sentence-id="2">
        もんだろ？
        <div class="gloss">isn't it? [colloquial]</div>
        <div class="alt"></div>
        <div class="lit"> もん だろ</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助動詞,*,*,*</div>
        <div class="dictionary"> 物 だ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="thatmourning" data-word-id="それも、8d6c5168-3e0e-479a-b57c-ea99ad638344" data-sentence-id="3">
        それも、
        <div class="gloss">That too,</div>
        <div class="alt"></div>
        <div class="lit"> それ も</div>
        <div class="pos"> 代名詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 其れ も</div>
    </div>
    
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)greens" data-word-id="そうだな…。c3e92a55-dc9d-4eef-b71e-906b5be861b5" data-sentence-id="3">
        そうだな…。
        <div class="gloss">[you're] right...</div>
        <div class="alt"></div>
        <div class="lit"> だ な</div>
        <div class="pos"> 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> だ な</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Ifeather" data-word-id="俺はf55a6d52-185b-4e17-87a6-34d7240d1334" data-sentence-id="3">
        俺は
        <div class="gloss">As for me,</div>
        <div class="alt"></div>
        <div class="lit"> おれ は</div>
        <div class="pos"> 代名詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 俺 は</div>
    </div>
    
    <div class="word" title="ifto call out (to)indicates passive voice (incl. the "suffering passive")handto be (of animate objects)" data-word-id="と呼ばれている。
394ee653-1955-4b43-9a8d-c3d973628121" data-sentence-id="3">
        と呼ばれている。
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="lit"> と よば れ て いる</div>
        <div class="pos"> 助詞,接続助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,*</div>
        <div class="dictionary"> と 呼ぶ れる て 居る</div>
    </div>
    
                    </div> 
                    <div class="word-group">
    <div class="word" title="if" data-word-id="J とb9f0e405-da58-44f8-b2f3-4e97a9f67519" data-sentence-id="3">
        J と
        <div class="gloss">[as] "J"</div>
        <div class="alt"></div>
        <div class="lit"> と</div>
        <div class="pos"> 助詞,格助詞,*,*</div>
        <div class="dictionary"> と</div>
    </div>
    
    <div class="word" title="to call out (to)indicates passive voice (incl. the "suffering passive")handto be (of animate objects)" data-word-id="呼ばれている。c9abdf6b-ceac-4b71-8168-7b4284a82c7f" data-sentence-id="3">
        呼ばれている。
        <div class="gloss">[I] am called.</div>
        <div class="alt"></div>
        <div class="lit"> よば れ て いる</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,*</div>
        <div class="dictionary"> 呼ぶ れる て 居る</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to call out (to)indicates passive voice (incl. the "suffering passive")handto be (of animate objects)you said" data-word-id="呼ばれているって…。a047191c-88d1-4881-97ac-48c5c769e27c" data-sentence-id="4">
        呼ばれているって…。
        <div class="gloss">[You] are being called...</div>
        <div class="alt"></div>
        <div class="lit"> よば れ て いる って</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助詞,副助詞,*,*</div>
        <div class="dictionary"> 呼ぶ れる て 居る って</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="your home" data-word-id="あんたefc2b103-1c37-4cd6-ac33-1b47ecacf115" data-sentence-id="4">
        あんた
        <div class="gloss">you</div>
        <div class="alt"></div>
        <div class="lit"> あんた</div>
        <div class="pos"> 代名詞,*,*,*</div>
        <div class="dictionary"> 貴方</div>
    </div>
    
    <div class="word" title="real nameindicates direct object of action" data-word-id="本名をde95bac5-8918-4353-8d8d-53edd4653f44" data-sentence-id="4">
        本名を
        <div class="gloss">[your] real name</div>
        <div class="alt"></div>
        <div class="lit"> ほんみょう を</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 本名 を</div>
    </div>
    
    <div class="word" title="to hideto shineindicates possessivebeautiful" data-word-id="隠してるのか？29930b68-6626-4384-b2f8-9c0d04daa2b5" data-sentence-id="4">
        隠してるのか？
        <div class="gloss">are [you] hiding?</div>
        <div class="alt"></div>
        <div class="lit"> かくし てる の か</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 隠す てる の か</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to take (a photo)beautifulindicates possessive" data-word-id="どっかの43874be0-da53-459d-b596-c483aef813eb" data-sentence-id="4">
        どっかの
        <div class="gloss">some kind of</div>
        <div class="alt"></div>
        <div class="lit"> どっ か の</div>
        <div class="pos"> 助動詞,*,*,* 助詞,副助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> とる か の</div>
    </div>
    
    <div class="word" title="professional killer" data-word-id="殺し屋3e8cbef4-eee4-49f4-b59c-b8f1c50c793b" data-sentence-id="4">
        殺し屋
        <div class="gloss">assassin</div>
        <div class="alt"></div>
        <div class="lit"> ころしや</div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 殺し屋</div>
    </div>
    
    <div class="word" title="-likedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="みたいに。d0d3155a-0973-4f85-9734-8936c22323f9" data-sentence-id="4">
        みたいに。
        <div class="gloss">like.</div>
        <div class="alt"></div>
        <div class="lit"> みたい に</div>
        <div class="pos"> 形状詞,助動詞語幹,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> みたい だ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="no" data-word-id="いや、4bf3b8b9-89a3-458e-862f-bf0b3951361d" data-sentence-id="5">
        いや、
        <div class="gloss">No,</div>
        <div class="alt"></div>
        <div class="lit"> いや</div>
        <div class="pos"> 感動詞,一般,*,*</div>
        <div class="dictionary"> 否</div>
    </div>
    
    <div class="word" title="memoryloss" data-word-id="記憶喪失4db6ab27-d8c4-4b8b-ab5b-3723e4b4f1ea" data-sentence-id="5">
        記憶喪失
        <div class="gloss">amnesia</div>
        <div class="alt"></div>
        <div class="lit"> きおく そうしつ</div>
        <div class="pos"> 名詞,普通名詞,サ変可能,* 名詞,普通名詞,サ変可能,*</div>
        <div class="dictionary"> 記憶 喪失</div>
    </div>
    
    <div class="word" title="ifto sayservant (esp. a samurai's attendant)dui (one of the trigrams of the I Ching: swamp, west)" data-word-id="という奴だ。3247c223-014e-4caf-a7f3-1a02bb79bbc7" data-sentence-id="5">
        という奴だ。
        <div class="gloss">[is what] it is.</div>
        <div class="alt"></div>
        <div class="lit"> と いう やつ だ</div>
        <div class="pos"> 助詞,格助詞,*,* 動詞,一般,*,* 名詞,普通名詞,一般,* 助動詞,*,*,*</div>
        <div class="dictionary"> と 言う 奴 だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="yearload" data-word-id="１９９９年に2471aaf4-eed9-4013-be0f-c8ef6b885cf6" data-sentence-id="5">
        １９９９年に
        <div class="gloss">in 1999</div>
        <div class="alt"></div>
        <div class="lit"> ねん に</div>
        <div class="pos"> 名詞,普通名詞,助数詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 年 に</div>
    </div>
    
    <div class="word" title="whatbeautifulbig" data-word-id="何か大きな09974089-3df4-4158-9c4b-88daf8d20811" data-sentence-id="5">
        何か大きな
        <div class="gloss">some major</div>
        <div class="alt"></div>
        <div class="lit"> なに か おおき</div>
        <div class="pos"> 代名詞,*,*,* 助詞,副助詞,*,* 連体詞,*,*,*</div>
        <div class="dictionary"> 何 か 大きな</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="accidentloadto bemulti-" data-word-id="事故にあった64dc4f30-aa56-46d5-8999-695d3aea6135" data-sentence-id="5">
        事故にあった
        <div class="gloss">[I] had an accident</div>
        <div class="alt"></div>
        <div class="lit"> じこ に あっ た</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 事故 に 有る た</div>
    </div>
    
    <div class="word" title="seeming ..." data-word-id="らしい。9e420436-804f-416a-8e19-14342ee47493" data-sentence-id="5">
        らしい。
        <div class="gloss">I'm told.</div>
        <div class="alt"></div>
        <div class="lit"> らしい</div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> らしい</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to carry something into a placeindicates passive voice (incl. the "suffering passive")multi-" data-word-id="担ぎ込まれたf03e96b1-799e-4918-bd93-5961ba9f94fb" data-sentence-id="5">
        担ぎ込まれた
        <div class="gloss">[I] was carried into</div>
        <div class="alt"></div>
        <div class="lit"> かつぎ れ た</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 担ぎ込む れる た</div>
    </div>
    
    <div class="word" title="hospitalcoming out" data-word-id="病院で8b404ea9-2aa2-483c-8ef7-a645d82f7100" data-sentence-id="5">
        病院で
        <div class="gloss">[the] hospital</div>
        <div class="alt"></div>
        <div class="lit"> びょういん で</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 病院 で</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to wake upmulti-" data-word-id="目覚めたcd4d9a72-fbc5-4ce0-b952-c887b1c755ec" data-sentence-id="5">
        目覚めた
        <div class="gloss">woke up</div>
        <div class="alt"></div>
        <div class="lit"> めざめ た</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 目覚める た</div>
    </div>
    
    <div class="word" title="timeloadfeather" data-word-id="ときには、a1118eeb-fea8-422e-b80a-c704dde8a09e" data-sentence-id="5">
        ときには、
        <div class="gloss">when</div>
        <div class="alt"></div>
        <div class="lit"> とき に は</div>
        <div class="pos"> 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 時 に は</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="birthmourning" data-word-id="素性もd87102ff-6b1a-4fc0-afbd-8e01746000ab" data-sentence-id="5">
        素性も
        <div class="gloss">[my] background</div>
        <div class="alt"></div>
        <div class="lit"> すじょう も</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 素性 も</div>
    </div>
    
    <div class="word" title="namemourning" data-word-id="名前も062174f7-e496-4c6f-93aa-fbb74b8c16f9" data-sentence-id="5">
        名前も
        <div class="gloss">[and my] name too</div>
        <div class="alt"></div>
        <div class="lit"> なまえ も</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 名前 も</div>
    </div>
    
    <div class="word" title="to losehandto be (of animate objects)multi-" data-word-id="失っていた。5238ff79-5b1e-4f3b-ac3f-afc7d70b9356" data-sentence-id="5">
        失っていた。
        <div class="gloss">had lost.</div>
        <div class="alt"></div>
        <div class="lit"> うっ て い た</div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 失う て 居る た</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)indicates possessivedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="そうなんだ…。df423575-99b1-4139-9909-9cc3c5acffd8" data-sentence-id="6">
        そうなんだ…。
        <div class="gloss">Oh, I see...</div>
        <div class="alt"></div>
        <div class="lit"> な ん だ</div>
        <div class="pos"> 助動詞,*,*,* 助詞,準体助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> だ の だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="ah" data-word-id="あっ、ce761dde-d33a-492b-a57c-5561f5f349e9" data-sentence-id="6">
        あっ、
        <div class="gloss">Ah,</div>
        <div class="alt"></div>
        <div class="lit"> あっ</div>
        <div class="pos"> 感動詞,一般,*,*</div>
        <div class="dictionary"> あっ</div>
    </div>
    
    <div class="word" title="Iindicates possessive" data-word-id="俺の83250c36-149b-4011-8aad-5e0b94db53fe" data-sentence-id="6">
        俺の
        <div class="gloss">my</div>
        <div class="alt"></div>
        <div class="lit"> おれ の</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 俺 の</div>
    </div>
    
    <div class="word" title="namefeather" data-word-id="名前はd496de2a-e989-4fd9-be0d-b64e3b0eb186" data-sentence-id="6">
        名前は
        <div class="gloss">name [is]</div>
        <div class="alt"></div>
        <div class="lit"> なまえ は</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 名前 は</div>
    </div>
    
    <div class="word" title="mallow (any plant of family Malvaceae)" data-word-id="蒼真。0790a0ba-2938-4835-9ac5-416d83d1e9ce" data-sentence-id="6">
        蒼真。
        <div class="gloss">Soma.</div>
        <div class="alt"></div>
        <div class="lit"> あお</div>
        <div class="pos"> 名詞,固有名詞,人名,姓</div>
        <div class="dictionary"> アオイ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="youindicates possessive" data-word-id="お前の3e819f37-1503-42a1-b363-f7ef60b64d90" data-sentence-id="7">
        お前の
        <div class="gloss">your</div>
        <div class="alt"></div>
        <div class="lit"> お の</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 御前 の</div>
    </div>
    
    <div class="word" title="darknessindicates possessive" data-word-id="暗黒のf38822a5-946b-417d-9b00-0dc9c0e42b9b" data-sentence-id="7">
        暗黒の
        <div class="gloss">dark</div>
        <div class="alt"></div>
        <div class="lit"> あんこく の</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 暗黒 の</div>
    </div>
    
    <div class="word" title="force" data-word-id="力cb1014be-5951-445e-8c0d-cbd6748eb191" data-sentence-id="7">
        力
        <div class="gloss">power</div>
        <div class="alt"></div>
        <div class="lit"> ちから</div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 力</div>
    </div>
    
    <div class="word" title="" data-word-id="…。d5c48f9e-b17f-45d6-b3e1-a05d40ead1cb" data-sentence-id="7">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="by nature" data-word-id="生まれつき1d375047-746b-4d4a-81f6-ce3ec48290fd" data-sentence-id="7">
        生まれつき
        <div class="gloss">[from] birth</div>
        <div class="alt"></div>
        <div class="lit"> うまれつき</div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 生まれ付き</div>
    </div>
    
    <div class="word" title="indicates possessive" data-word-id="のa890afce-8e84-4d5e-aa89-6a663bf6b8e8" data-sentence-id="7">
        の
        <div class="gloss">[possessive]</div>
        <div class="alt"></div>
        <div class="lit"> の</div>
        <div class="pos"> 助詞,格助詞,*,*</div>
        <div class="dictionary"> の</div>
    </div>
    
    <div class="word" title="thing" data-word-id="もの24ad625f-c02d-41ae-b00f-4556094e87dd" data-sentence-id="7">
        もの
        <div class="gloss">thing</div>
        <div class="alt"></div>
        <div class="lit"> もの</div>
        <div class="pos"> 名詞,普通名詞,サ変可能,*</div>
        <div class="dictionary"> 物</div>
    </div>
    
    <div class="word" title="beautiful" data-word-id="か65bd058d-9dad-4a25-8229-2ef13cd09822" data-sentence-id="7">
        か
        <div class="gloss">[question marker]</div>
        <div class="alt"></div>
        <div class="lit"> か</div>
        <div class="pos"> 助詞,副助詞,*,*</div>
        <div class="dictionary"> か</div>
    </div>
    
    <div class="word" title="" data-word-id="？a14a85d9-4b77-47b4-bcb8-9be78afa4b4d" data-sentence-id="7">
        ？
        <div class="gloss">?</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Iloadmourning" data-word-id="俺にもde218de6-0252-427f-b64c-2d9746988729" data-sentence-id="8">
        俺にも
        <div class="gloss">to me too</div>
        <div class="alt"></div>
        <div class="lit"> おれ に も</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 俺 に も</div>
    </div>
    
    <div class="word" title="nicely" data-word-id="良くb0970e5d-1b37-49e7-bae9-ca24168dc62d" data-sentence-id="8">
        良く
        <div class="gloss">well</div>
        <div class="alt"></div>
        <div class="lit"> よく</div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> 良く</div>
    </div>
    
    <div class="word" title="to understandearthquake" data-word-id="分からない。814f30b8-ab4f-45af-b0c6-fc4592033920" data-sentence-id="8">
        分からない。
        <div class="gloss">[I] don't understand.</div>
        <div class="alt"></div>
        <div class="lit"> わか ない</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 分かる ない</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="thiscastleload" data-word-id="この城に7720bce6-c0ea-4adc-8383-95c344015411" data-sentence-id="8">
        この城に
        <div class="gloss">to this castle</div>
        <div class="alt"></div>
        <div class="lit"> この しろ に</div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 此の 城 に</div>
    </div>
    
    <div class="word" title="to come (spatially or temporally)handfrom (e.g. time, place, numerical quantity)" data-word-id="来てから、70db0534-5dd6-4eff-9470-ea97cfb06e95" data-sentence-id="8">
        来てから、
        <div class="gloss">since [I] came</div>
        <div class="alt"></div>
        <div class="lit"> らい て から</div>
        <div class="pos"> 動詞,非自立可能,*,* 助詞,接続助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 来る て から</div>
    </div>
    
    <div class="word" title="to appearmulti-" data-word-id="現れたdcb5195a-e3de-4441-a84b-c22aaa454d6f" data-sentence-id="8">
        現れた
        <div class="gloss">appeared</div>
        <div class="alt"></div>
        <div class="lit"> あらわれ た</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 現われる た</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="thingdui (one of the trigrams of the I Ching: swamp, west)featherto be" data-word-id="ものではある2c7b5887-d1f0-43cc-93b1-7bfab7f6c802" data-sentence-id="8">
        ものではある
        <div class="gloss">it is something that</div>
        <div class="alt"></div>
        <div class="lit"> もの で は ある</div>
        <div class="pos"> 名詞,普通名詞,サ変可能,* 助動詞,*,*,* 助詞,係助詞,*,* 動詞,非自立可能,*,*</div>
        <div class="dictionary"> 物 だ は 有る</div>
    </div>
    
    <div class="word" title="but" data-word-id="けど…。046d911a-d1fc-4dd3-bfac-2a1b7aea18f8" data-sentence-id="8">
        けど…。
        <div class="gloss">however...</div>
        <div class="alt"></div>
        <div class="lit"> けど</div>
        <div class="pos"> 助詞,接続助詞,*,*</div>
        <div class="dictionary"> けれど</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="extent" data-word-id="なるほど、391dbac3-3920-4a3c-abc5-0c7daf285c2c" data-sentence-id="9">
        なるほど、
        <div class="gloss">I see...</div>
        <div class="alt"></div>
        <div class="lit"> ほど</div>
        <div class="pos"> 助詞,副助詞,*,*</div>
        <div class="dictionary"> ほど</div>
    </div>
    
    <div class="word" title="to think (about, of)to pass through" data-word-id="考え過ぎ6f33e787-f2c9-42cb-9726-73836b0a03e3" data-sentence-id="9">
        考え過ぎ
        <div class="gloss">thinking too much</div>
        <div class="alt"></div>
        <div class="lit"> かんがえ すぎ</div>
        <div class="pos"> 動詞,一般,*,* 動詞,非自立可能,*,*</div>
        <div class="dictionary"> 考える 過ぎる</div>
    </div>
    
    <div class="word" title="beautiful" data-word-id="か11a1c926-6254-4c5b-a3b3-b4f257b7378a" data-sentence-id="9">
        か
        <div class="gloss">[questioning particle]</div>
        <div class="alt"></div>
        <div class="lit"> か</div>
        <div class="pos"> 助詞,副助詞,*,*</div>
        <div class="dictionary"> か</div>
    </div>
    
    <div class="word" title="" data-word-id="…。98a60497-f716-458c-82be-76b7a881bb12" data-sentence-id="9">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Mr.featherwhatcoming outthiscastleload" data-word-id="
さんは、なんでこの城に？
ee562451-1bc3-44ed-a89d-e48b8f00a873" data-sentence-id="10">
        さんは、なんでこの城に？
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="lit"> さん は なん で この しろ に</div>
        <div class="pos"> 接尾辞,名詞的,一般,* 助詞,係助詞,*,* 代名詞,*,*,* 助詞,格助詞,*,* 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> さん は 何 で 此の 城 に</div>
    </div>
    
                    </div> 
                    <div class="word-group">
    <div class="word" title="Mr.feather" data-word-id="Jさんは、6e1e15f0-a94f-41bd-a6b6-73c0b19bbc51" data-sentence-id="10">
        Jさんは、
        <div class="gloss">Mr. J</div>
        <div class="alt"></div>
        <div class="lit"> さん は</div>
        <div class="pos"> 接尾辞,名詞的,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> さん は</div>
    </div>
    
    <div class="word" title="whatcoming out" data-word-id="なんで72839743-1633-4b8f-bcfa-1375f0ee4b83" data-sentence-id="10">
        なんで
        <div class="gloss">why</div>
        <div class="alt"></div>
        <div class="lit"> なん で</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 何 で</div>
    </div>
    
    <div class="word" title="this" data-word-id="この0234f62e-0258-41e1-a03e-01927d7f0612" data-sentence-id="10">
        この
        <div class="gloss">this</div>
        <div class="alt"></div>
        <div class="lit"> この</div>
        <div class="pos"> 連体詞,*,*,*</div>
        <div class="dictionary"> 此の</div>
    </div>
    
    <div class="word" title="castleload" data-word-id="城に9e47eefa-2ddf-4455-bc3b-07c7c8eeb738" data-sentence-id="10">
        城に
        <div class="gloss">to [the] castle</div>
        <div class="alt"></div>
        <div class="lit"> しろ に</div>
        <div class="pos"> 接尾辞,名詞的,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 城 に</div>
    </div>
    
    <div class="word" title="" data-word-id="？214d5b3e-b346-4d34-bf5a-e502258d2ba2" data-sentence-id="10">
        ？
        <div class="gloss">?</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)to minddrawing" data-word-id="でかまわん。56a21135-a909-48f5-a2d9-cd79bdb48f63" data-sentence-id="11">
        でかまわん。
        <div class="gloss">[You can] call [me] that.</div>
        <div class="alt"></div>
        <div class="lit"> で かまわ ん</div>
        <div class="pos"> 助動詞,*,*,* 動詞,一般,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> だ 構う ず</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Ifeather" data-word-id="俺は、d1dcc76a-4c34-41d2-8302-6509bdda1e0d" data-sentence-id="11">
        俺は、
        <div class="gloss">I</div>
        <div class="alt"></div>
        <div class="lit"> おれ は</div>
        <div class="pos"> 代名詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 俺 は</div>
    </div>
    
    <div class="word" title="ifto saynameload" data-word-id="ドラキュラという名に88eb410d-0b4f-4bbc-8fc0-56b2df8a4aa9" data-sentence-id="11">
        ドラキュラという名に
        <div class="gloss">at the name called Dracula</div>
        <div class="alt"></div>
        <div class="lit"> と いう めい に</div>
        <div class="pos"> 助詞,格助詞,*,* 動詞,一般,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> と 言う 名 に</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="bigfearindicates direct object of action" data-word-id="大きな恐怖を7986ed15-2331-472f-9188-5b619e5c5656" data-sentence-id="11">
        大きな恐怖を
        <div class="gloss">great fear</div>
        <div class="alt"></div>
        <div class="lit"> おおき きょうふ を</div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,サ変可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 大きな 恐怖 を</div>
    </div>
    
    <div class="word" title="to feelhandto be (of animate objects)" data-word-id="感じている。973fadae-c308-40be-b03e-2f789ca563e3" data-sentence-id="11">
        感じている。
        <div class="gloss">am feeling.</div>
        <div class="alt"></div>
        <div class="lit"> かんじ て いる</div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,*</div>
        <div class="dictionary"> 感ずる て 居る</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)from (e.g. time, place, numerical quantity)" data-word-id="だから、d6d90d18-349d-4075-96d4-6a329e641be7" data-sentence-id="11">
        だから、
        <div class="gloss">Therefore,</div>
        <div class="alt"></div>
        <div class="lit"> だ から</div>
        <div class="pos"> 助動詞,*,*,* 助詞,接続助詞,*,*</div>
        <div class="dictionary"> だ から</div>
    </div>
    
    <div class="word" title="predictionindicates direct object of action" data-word-id="予言をbea9094a-3829-41e3-8c51-4aeecd1c85cf" data-sentence-id="11">
        予言を
        <div class="gloss">[the] prophecy</div>
        <div class="alt"></div>
        <div class="lit"> よげん を</div>
        <div class="pos"> 名詞,普通名詞,サ変可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 予言 を</div>
    </div>
    
    <div class="word" title="to believehandto come (spatially or temporally)multi-" data-word-id="信じて来た。d176d2f8-78b5-47b8-8e6b-030f25b0e22f" data-sentence-id="11">
        信じて来た。
        <div class="gloss">believed and came.</div>
        <div class="alt"></div>
        <div class="lit"> しんじ て らい た</div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 信ずる て 来る た</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="appearing thatto dothingdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="そうすることで、5dd9137c-9e5b-4e11-9681-c3a0714b68a2" data-sentence-id="11">
        そうすることで、
        <div class="gloss">By doing that,</div>
        <div class="alt"></div>
        <div class="lit"> そう する こと で</div>
        <div class="pos"> 副詞,*,*,* 動詞,非自立可能,*,* 名詞,普通名詞,一般,* 助動詞,*,*,*</div>
        <div class="dictionary"> そう 為る 事 だ</div>
    </div>
    
    <div class="word" title="I(one's) selfmoth" data-word-id="俺自身がf81929e7-439b-4c69-9a9f-5e3c3ea9fa55" data-sentence-id="11">
        俺自身が
        <div class="gloss">I myself</div>
        <div class="alt"></div>
        <div class="lit"> おれ じしん が</div>
        <div class="pos"> 代名詞,*,*,* 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 俺 自身 が</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to turn back (e.g. half-way)if" data-word-id="戻ると73daa0b1-f30e-4b71-ac63-ed73b5c46e07" data-sentence-id="11">
        戻ると
        <div class="gloss">would return</div>
        <div class="alt"></div>
        <div class="lit"> もどる と</div>
        <div class="pos"> 動詞,一般,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 戻る と</div>
    </div>
    
    <div class="word" title="to thinkmulti-from (e.g. time, place, numerical quantity)dui (one of the trigrams of the I Ching: swamp, west)" data-word-id="思ったからだ。1982e576-690f-4107-84c3-171baeceb406" data-sentence-id="11">
        思ったからだ。
        <div class="gloss">because [I] thought [so].</div>
        <div class="alt"></div>
        <div class="lit"> おもっ た から だ</div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 思う た から だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="reality" data-word-id="実際、ec75337b-4e9b-4dad-8c4c-a2137257b2e1" data-sentence-id="11">
        実際、
        <div class="gloss">Actually,</div>
        <div class="alt"></div>
        <div class="lit"> じっさい</div>
        <div class="pos"> 名詞,普通名詞,副詞可能,*</div>
        <div class="dictionary"> 実際</div>
    </div>
    
    <div class="word" title="hereloadto come (spatially or temporally)handfrom (e.g. time, place, numerical quantity)" data-word-id="ここに来てから4f524560-007b-418d-ae6c-160db0c5262b" data-sentence-id="11">
        ここに来てから
        <div class="gloss">since coming here</div>
        <div class="alt"></div>
        <div class="lit"> ここ に らい て から</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,* 動詞,非自立可能,*,* 助詞,接続助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 此処 に 来る て から</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="whatbeautifulindicates direct object of action" data-word-id="何かを033e7f5b-7830-49a6-9202-5561d42d6c59" data-sentence-id="11">
        何かを
        <div class="gloss">something</div>
        <div class="alt"></div>
        <div class="lit"> なに か を</div>
        <div class="pos"> 代名詞,*,*,* 助詞,副助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 何 か を</div>
    </div>
    
    <div class="word" title="to recallto hang up (e.g. a coat, a picture on the wall)to shine" data-word-id="思い出しかけてる。4f869b2d-ecf5-4c38-b2f0-3c5be48182d3" data-sentence-id="11">
        思い出しかけてる。
        <div class="gloss">[I] am beginning to remember.</div>
        <div class="alt"></div>
        <div class="lit"> おもいだし かけ てる</div>
        <div class="pos"> 動詞,一般,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 思い出す 掛ける てる</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="yearyou saidto sayif" data-word-id="１９９９年っていうと、1070e43b-3ed5-4093-96a6-44921103c328" data-sentence-id="12">
        １９９９年っていうと、
        <div class="gloss">Speaking of [the year] 1999,</div>
        <div class="alt"></div>
        <div class="lit"> ねん って いう と</div>
        <div class="pos"> 名詞,普通名詞,助数詞可能,* 助詞,副助詞,*,* 動詞,一般,*,* 助詞,接続助詞,*,*</div>
        <div class="dictionary"> 年 って 言う と</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="as expected" data-word-id="やっぱりccc3069e-fcf8-46fb-b453-503279fa8e61" data-sentence-id="12">
        やっぱり
        <div class="gloss">as I thought/just as expected</div>
        <div class="alt"></div>
        <div class="lit"> やっぱり</div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> 矢張り</div>
    </div>
    
    <div class="word" title="if" data-word-id="ドラキュラとd9ad62b0-a4ed-4a61-9627-c8bd9b4ecab0" data-sentence-id="12">
        ドラキュラと
        <div class="gloss">Dracula and</div>
        <div class="alt"></div>
        <div class="lit"> と</div>
        <div class="pos"> 助詞,格助詞,*,*</div>
        <div class="dictionary"> と</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="relationmoth" data-word-id="関係が…？4bf40da0-2b67-4dff-903a-53e60e5f5d11" data-sentence-id="12">
        関係が…？
        <div class="gloss">[there's] a connection...?</div>
        <div class="alt"></div>
        <div class="lit"> かんけい が</div>
        <div class="pos"> 名詞,普通名詞,サ変可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 関係 が</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="perhapsappearing thatdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="多分そうだろう。9688faae-9106-4a6a-8f38-e79430baedbc" data-sentence-id="13">
        多分そうだろう。
        <div class="gloss">Probably that's right.</div>
        <div class="alt"></div>
        <div class="lit"> たぶん そう だろう</div>
        <div class="pos"> 副詞,*,*,* 副詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 多分 そう だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Iload" data-word-id="俺に5501e6fb-913e-4dde-aeef-68b296fc244f" data-sentence-id="13">
        俺に
        <div class="gloss">I [have]</div>
        <div class="alt"></div>
        <div class="lit"> おれ に</div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 俺 に</div>
    </div>
    
    <div class="word" title="eradication of malignant spirits (esp. used in fantasy and science fiction)indicates possessiveforce" data-word-id="退魔の力df988a3d-07c1-4ff1-9209-c6bff4b9fee8" data-sentence-id="13">
        退魔の力
        <div class="gloss">exorcism powers</div>
        <div class="alt"></div>
        <div class="lit"> たいま の ちから</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,* 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 退魔 の 力</div>
    </div>
    
    <div class="word" title="mothto beplace" data-word-id="があるところ05d2caf5-f8be-4aa3-a8f1-55d852368cef" data-sentence-id="13">
        があるところ
        <div class="gloss">having [this] aspect</div>
        <div class="alt"></div>
        <div class="lit"> が ある ところ</div>
        <div class="pos"> 助詞,格助詞,*,* 動詞,非自立可能,*,* 名詞,普通名詞,副詞可能,*</div>
        <div class="dictionary"> が 有る 所</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="from (e.g. time, place, numerical quantity)" data-word-id="から0e59aefd-c1c1-427f-b105-02171085129f" data-sentence-id="13">
        から
        <div class="gloss">from</div>
        <div class="alt"></div>
        <div class="lit"> から</div>
        <div class="pos"> 助詞,接続助詞,*,*</div>
        <div class="dictionary"> から</div>
    </div>
    
    <div class="word" title="to think (about, of)handmourning" data-word-id="考えても3dfeb519-b872-455d-afca-9f553a73cd39" data-sentence-id="13">
        考えても
        <div class="gloss">considering [it]</div>
        <div class="alt"></div>
        <div class="lit"> かんがえ て も</div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 考える て も</div>
    </div>
    
    <div class="word" title="greens" data-word-id="な。1501d2c1-c212-46f4-a299-a522f66ffc9a" data-sentence-id="13">
        な。
        <div class="gloss">[emphatic particle]</div>
        <div class="alt"></div>
        <div class="lit"> な</div>
        <div class="pos"> 助詞,終助詞,*,*</div>
        <div class="dictionary"> な</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="mourningeradication of malignant spirits (esp. used in fantasy and science fiction)warrior (esp. of military retainers of daimyos in the Edo period)dui (one of the trigrams of the I Ching: swamp, west)indicates possessivebeautiful" data-word-id="
も退魔士なのか？
02a8ef6c-d7d1-4897-8bc2-b91c7eb90360" data-sentence-id="14">
        も退魔士なのか？
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="lit"> も たいま さむらい な の か</div>
        <div class="pos"> 助詞,係助詞,*,* 名詞,普通名詞,一般,* 接尾辞,名詞的,一般,* 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> も 退魔 士 だ の か</div>
    </div>
    
                    </div> 
                    <div class="word-group">
    <div class="word" title="magicerranddui (one of the trigrams of the I Ching: swamp, west)indicates possessiveload" data-word-id="魔法使いなのに9c6c894b-503f-4571-8118-dbd032868277" data-sentence-id="14">
        魔法使いなのに
        <div class="gloss">especially since [I am] a magic user</div>
        <div class="alt"></div>
        <div class="lit"> まほう つかい な の に</div>
        <div class="pos"> 名詞,普通名詞,一般,* 名詞,普通名詞,一般,* 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 魔法 使い だ の に</div>
    </div>
    
    <div class="word" title="" data-word-id="Je30b7b0e-0a9e-4db0-b3a3-730bb9061a2a" data-sentence-id="14">
        J
        <div class="gloss">J</div>
        <div class="alt"></div>
        <div class="lit"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
    <div class="word" title="feather" data-word-id="は71815e93-b4f6-4ef7-b799-86573746a0cf" data-sentence-id="14">
        は
        <div class="gloss">[topic marker]</div>
        <div class="alt"></div>
        <div class="lit"> は</div>
        <div class="pos"> 助詞,係助詞,*,*</div>
        <div class="dictionary"> は</div>
    </div>
    
    <div class="word" title="eradication of malignant spirits (esp. used in fantasy and science fiction)warrior (esp. of military retainers of daimyos in the Edo period)" data-word-id="退魔士a93642d7-e9cf-4a92-844b-a623cdb8137a" data-sentence-id="14">
        退魔士
        <div class="gloss">exorcist</div>
        <div class="alt"></div>
        <div class="lit"> たいま さむらい</div>
        <div class="pos"> 名詞,普通名詞,一般,* 接尾辞,名詞的,一般,*</div>
        <div class="dictionary"> 退魔 士</div>
    </div>
    
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)indicates possessivebeautiful" data-word-id="なのか？6f20eaa2-0df6-4734-a5dc-118d9c7c436e" data-sentence-id="14">
        なのか？
        <div class="gloss">[question marker] is [it]?</div>
        <div class="alt"></div>
        <div class="lit"> な の か</div>
        <div class="pos"> 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> だ の か</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="just (e.g. "just wait here")" data-word-id="まぁ、155b98a9-96f1-45ad-9c38-19b3d8b9c72a" data-sentence-id="15">
        まぁ、
        <div class="gloss">well,</div>
        <div class="alt"></div>
        <div class="lit"> まぁ</div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> まあ</div>
    </div>
    
    <div class="word" title="appearing thatifmourning" data-word-id="そうとも47bd8edf-735c-455d-9178-8adbe0bb53f0" data-sentence-id="15">
        そうとも
        <div class="gloss">that way too</div>
        <div class="alt"></div>
        <div class="lit"> そう と も</div>
        <div class="pos"> 副詞,*,*,* 助詞,格助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> そう と も</div>
    </div>
    
    <div class="word" title="to saygreens" data-word-id="言うな。01cf1b76-1e41-4aaa-b561-840c1776ea7f" data-sentence-id="15">
        言うな。
        <div class="gloss">you could say.</div>
        <div class="alt"></div>
        <div class="lit"> いう な</div>
        <div class="pos"> 動詞,一般,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 言う な</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="most" data-word-id="もっとも、ae486590-1d62-463a-a122-1b6db8d74fae" data-sentence-id="15">
        もっとも、
        <div class="gloss">however,</div>
        <div class="alt"></div>
        <div class="lit"> もっとも</div>
        <div class="pos"> 接続詞,*,*,*</div>
        <div class="dictionary"> 尤も</div>
    </div>
    
    <div class="word" title="myselfindicates possessive" data-word-id="自分の46141a49-74e1-4aa1-ae0a-33087f4e4063" data-sentence-id="15">
        自分の
        <div class="gloss">my own</div>
        <div class="alt"></div>
        <div class="lit"> じぶん の</div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 自分 の</div>
    </div>
    
    <div class="word" title="goodload" data-word-id="為に9cba9b47-947c-4e2c-8648-1ec71caa58b3" data-sentence-id="15">
        為に
        <div class="gloss">for the sake of</div>
        <div class="alt"></div>
        <div class="lit"> ため に</div>
        <div class="pos"> 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 為 に</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to dohandto be (of animate objects)thingdui (one of the trigrams of the I Ching: swamp, west)moth" data-word-id="やっているものだが…。cbb168e4-0cef-4411-b305-b8ce5b49c7f9" data-sentence-id="15">
        やっているものだが…。
        <div class="gloss">[I] am doing [this] but...</div>
        <div class="alt"></div>
        <div class="lit"> やっ て いる もの だ が</div>
        <div class="pos"> 動詞,非自立可能,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 名詞,普通名詞,サ変可能,* 助動詞,*,*,* 助詞,接続助詞,*,*</div>
        <div class="dictionary"> 遣る て 居る 物 だ が</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="hindranceindicates direct object of action" data-word-id="邪魔をb4818ae5-acf7-4635-bc3a-dbcd48a7ebf1" data-sentence-id="15">
        邪魔を
        <div class="gloss">[a] disturbance</div>
        <div class="alt"></div>
        <div class="lit"> じゃま を</div>
        <div class="pos"> 名詞,普通名詞,サ変形状詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 邪魔 を</div>
    </div>
    
    <div class="word" title="yellowmulti-greens" data-word-id="したな。6c3865b4-4187-41cb-858d-63aee0508f1e" data-sentence-id="15">
        したな。
        <div class="gloss">[I] have caused.</div>
        <div class="alt"></div>
        <div class="lit"> し た な</div>
        <div class="pos"> 助動詞,*,*,* 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> き た な</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Ifeather" data-word-id="俺はb4995179-c25e-4b2c-85b8-230586429935" data-sentence-id="15">
        俺は
        <div class="gloss">I</div>
        <div class="alt"></div>
        <div class="lit"> おれ は</div>
        <div class="pos"> 代名詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 俺 は</div>
    </div>
    
    <div class="word" title="now" data-word-id="もうc0d0192a-7d33-4599-b6ca-22310704d09d" data-sentence-id="15">
        もう
        <div class="gloss">now</div>
        <div class="alt"></div>
        <div class="lit"> もう</div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> もう</div>
    </div>
    
    <div class="word" title="to goto competehand" data-word-id="行かせてfcfded90-5d29-4383-9310-1a61e536fac7" data-sentence-id="15">
        行かせて
        <div class="gloss">let [me] go</div>
        <div class="alt"></div>
        <div class="lit"> いか せ て</div>
        <div class="pos"> 動詞,非自立可能,*,* 助動詞,*,*,* 助詞,接続助詞,*,*</div>
        <div class="dictionary"> 行く せる て</div>
    </div>
    
    <div class="word" title="to receive" data-word-id="もらう。85f66d29-0402-4a29-af7d-17ec747176c3" data-sentence-id="15">
        もらう。
        <div class="gloss">receive [permission].</div>
        <div class="alt"></div>
        <div class="lit"> もらう</div>
        <div class="pos"> 動詞,非自立可能,*,*</div>
        <div class="dictionary"> 貰う</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="again" data-word-id="また、e9d9bca9-5a09-46e4-a30e-ab5f5a5bf562" data-sentence-id="15">
        また、
        <div class="gloss">again,</div>
        <div class="alt"></div>
        <div class="lit"> また</div>
        <div class="pos"> 接続詞,*,*,*</div>
        <div class="dictionary"> 又</div>
    </div>
    
    <div class="word" title="to meetthingmourning" data-word-id="会うことも0a1931fc-42f4-4aff-aa8d-452f7264e02d" data-sentence-id="15">
        会うことも
        <div class="gloss">meeting also</div>
        <div class="alt"></div>
        <div class="lit"> あう こと も</div>
        <div class="pos"> 動詞,一般,*,* 名詞,普通名詞,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 会う 事 も</div>
    </div>
    
    <div class="word" title="to bedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="あるだろう。ef9e0599-6d16-4561-9fba-e9ad91b5ef28" data-sentence-id="15">
        あるだろう。
        <div class="gloss">will probably happen.</div>
        <div class="alt"></div>
        <div class="lit"> ある だろう</div>
        <div class="pos"> 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 有る だ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="ah!" data-word-id="あぁ、6764bad2-b6f0-42c0-a234-3f84c076ea37" data-sentence-id="16">
        あぁ、
        <div class="gloss">Ah,</div>
        <div class="alt"></div>
        <div class="lit"> あぁ</div>
        <div class="pos"> 感動詞,一般,*,*</div>
        <div class="dictionary"> ああ</div>
    </div>
    
    <div class="word" title="again" data-word-id="また…。581a72be-ca51-4bd4-b82f-fca20a92e208" data-sentence-id="16">
        また…。
        <div class="gloss">see [you] again...</div>
        <div class="alt"></div>
        <div class="lit"> また</div>
        <div class="pos"> 接続詞,*,*,*</div>
        <div class="dictionary"> 又</div>
    </div>
    
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    