
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="2"><meta name="previous_page" content="1"><meta name="sentence_store" content="castlevania_2">
</head>
<html>

<body>
<div class="main-container">
    <title>Castlevania - Soma and Graham</title>
<h1>Castlevania - Soma and Graham</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Castlevania - Soma and Graham.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container">    
        <div class="word-group">
            
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズfc0a60f6-f26e-4a13-b566-4baf3f3424f3" data-sentence-id="1">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="honorific/polite/humble prefixmelting" data-word-id="おや、f10f7135-e0a6-4b68-b1f6-f41a9fce86cf" data-sentence-id="1">
        おや、
        <div class="gloss">Oh my,</div>
        <div class="alt"></div>
        <div class="pos"> 接頭辞,*,*,* 助詞,副助詞,*,*</div>
        <div class="dictionary"> 御 や</div>
    </div>
    
    <div class="word" title="again" data-word-id="またd004b468-4aef-4ad8-a07b-7e878dbcc5ce" data-sentence-id="1">
        また
        <div class="gloss">again</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> 又</div>
    </div>
    
    <div class="word" title="to meetmeasuring containermulti-" data-word-id="会いました0f339fd2-005e-4dca-ad47-67a8ac482fca" data-sentence-id="1">
        <ruby>会い<rt>あい</rt></ruby>ました
        <div class="gloss">[we] met</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 会う ます た</div>
    </div>
    
    <div class="word" title="earthquake" data-word-id="ね。8d68fcb5-d5d9-4d7b-9795-81e48e906fc3" data-sentence-id="1">
        ね。
        <div class="gloss">[particle indicating shared feeling]</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> ない</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="safetycoming out" data-word-id="無事でf2df0f01-e625-4b61-ba69-4bc2dc26ac1d" data-sentence-id="1">
        <ruby>無事<rt>ぶじ</rt></ruby>で
        <div class="gloss">unharmed/safe [being]</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 無事 で</div>
    </div>
    
    <div class="word" title="whatthan" data-word-id="何より4c66c67e-8e1b-4c8c-8cd1-ed2ee406b449" data-sentence-id="1">
        <ruby>何<rt>なに</rt></ruby>より
        <div class="gloss">more than anything</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 何 より</div>
    </div>
    
    <div class="word" title="be" data-word-id="です。8323a5bc-209b-4c38-a3de-0d6470095edd" data-sentence-id="1">
        です。
        <div class="gloss">[copula-polite]</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> です</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマ2830f4a7-057a-4437-8f89-181684afc013" data-sentence-id="2">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="Mr.mourning" data-word-id="グラハムさんも…。f44b1188-cb26-4ada-b3c6-41e9c19ebc4f" data-sentence-id="2">
        グラハムさんも…。
        <div class="gloss">Mr. Graham too...</div>
        <div class="alt"></div>
        <div class="pos"> 接尾辞,名詞的,一般,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> さん も</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="that" data-word-id="あの…、718c2bf7-5de3-4d5e-b1e2-7b9beff76aaa" data-sentence-id="2">
        あの…、
        <div class="gloss">Um...</div>
        <div class="alt"></div>
        <div class="pos"> 感動詞,フィラー,*,*</div>
        <div class="dictionary"> あの</div>
    </div>
    
    <div class="word" title="saliva" data-word-id="１つ06283734-cbdd-42c0-9ded-f5b80cd13f60" data-sentence-id="2">
        １つ
        <div class="gloss">one thing</div>
        <div class="alt"></div>
        <div class="pos"> 接尾辞,名詞的,助数詞,*</div>
        <div class="dictionary"> つ</div>
    </div>
    
    <div class="word" title="to hearhand" data-word-id="聞いてcc76da76-cde8-4b98-8ed4-c7bf94f16dbd" data-sentence-id="2">
        <ruby>聞い<rt>きい</rt></ruby>て
        <div class="gloss">ask</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,*</div>
        <div class="dictionary"> 聞く て</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="goodbeautifulgreens" data-word-id="良いかな？5f34d8bb-d8ce-4734-9dc9-8490a0c584df" data-sentence-id="2">
        <ruby>良い<rt>よい</rt></ruby>かな？
        <div class="gloss">is it okay?</div>
        <div class="alt"></div>
        <div class="pos"> 形容詞,非自立可能,*,* 助詞,終助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 良い か な</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズ73161d74-f3ea-4112-9c58-947a1790920e" data-sentence-id="3">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones:</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="yes" data-word-id="はい、46b46824-97e3-4e41-82f1-93ee7d7ffb9f" data-sentence-id="3">
        はい、
        <div class="gloss">Yes,</div>
        <div class="alt"></div>
        <div class="pos"> 感動詞,一般,*,*</div>
        <div class="dictionary"> はい</div>
    </div>
    
    <div class="word" title="whatformif" data-word-id="何なりと。6bd45446-a6bd-48bc-bd19-5a1c73f74a8f" data-sentence-id="3">
        <ruby>何<rt>なに</rt></ruby>なりと。
        <div class="gloss">[please proceed with] whatever [you'd like].</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 接尾辞,名詞的,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 何 形 と</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマe364cc18-0051-4ee6-b893-5eb5ea4e3e6c" data-sentence-id="4">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="a certain ...-ian (e.g. Italian)moth" data-word-id="ある人が、e9564146-9b5c-4494-9bbb-c6543b6c151d" data-sentence-id="4">
        ある<ruby>人<rt>にん</rt></ruby>が、
        <div class="gloss">a certain person</div>
        <div class="alt"></div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 或る 人 が</div>
    </div>
    
    <div class="word" title="Mr.moth" data-word-id="グラハムさんがf975ad7e-ebfe-4c03-be00-316b19c046d4" data-sentence-id="4">
        グラハムさんが
        <div class="gloss">Mr. Graham</div>
        <div class="alt"></div>
        <div class="pos"> 接尾辞,名詞的,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> さん が</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="indicates possessiveforceindicates direct object of action" data-word-id="ドラキュラの力をaee73390-daad-406c-a39e-b233bc29cb52" data-sentence-id="4">
        ドラキュラの<ruby>力<rt>ちから</rt></ruby>を
        <div class="gloss">Dracula's powers</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,格助詞,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> の 力 を</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to inherityou said" data-word-id="受け継ぐって…。e99b6de0-0751-4806-902b-6ff1a28ead60" data-sentence-id="4">
        <ruby>受け継ぐ<rt>うけつぐ</rt></ruby>って…。
        <div class="gloss">[is] inheriting [them], [I heard]...</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助詞,副助詞,*,*</div>
        <div class="dictionary"> 受け継ぐ って</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズb407c591-937f-463d-aec9-3cc00417fded" data-sentence-id="5">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="extent" data-word-id="なるほど、2d2948a8-f887-4d52-a5af-8fbdd5c08a02" data-sentence-id="5">
        なるほど、
        <div class="gloss">I see,</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,副助詞,*,*</div>
        <div class="dictionary"> ほど</div>
    </div>
    
    <div class="word" title="thatchurchindicates possessive" data-word-id="あの教会のc55a9f12-0a48-4f16-8ca2-ef58cde0a56e" data-sentence-id="5">
        あの<ruby>教会<rt>きょうかい</rt></ruby>の
        <div class="gloss">that church's</div>
        <div class="alt"></div>
        <div class="pos"> 感動詞,フィラー,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> あの 教会 の</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="femaleberoot (of a plant)" data-word-id="女ですね…。eec7c81d-9700-49cd-b021-e41fa1fa6b3b" data-sentence-id="5">
        <ruby>女<rt>おんな</rt></ruby>ですね…。
        <div class="gloss">woman [told you], didn't she...</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,* 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 女 です ね</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマ6d57e56b-e4a0-49c4-a64c-d0c107efc28e" data-sentence-id="6">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="such" data-word-id="そんなab5b1bcf-aa77-4c48-9c94-e4f474b7a2fc" data-sentence-id="6">
        そんな
        <div class="gloss">such</div>
        <div class="alt"></div>
        <div class="pos"> 連体詞,*,*,*</div>
        <div class="dictionary"> そんな</div>
    </div>
    
    <div class="word" title="thing" data-word-id="こと64724b3e-5d93-42f6-a46a-54721b1edc61" data-sentence-id="6">
        こと
        <div class="gloss">thing</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 事</div>
    </div>
    
    <div class="word" title="earthquake" data-word-id="無い959364ce-28f9-4c20-9b9f-58c6be6ba769" data-sentence-id="6">
        <ruby>無い<rt>ない</rt></ruby>
        <div class="gloss">not exist</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> ない</div>
    </div>
    
    <div class="word" title="be" data-word-id="ですd5517ec0-dfa4-46a3-bb85-3417e148167c" data-sentence-id="6">
        です
        <div class="gloss">[polite copula]</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> です</div>
    </div>
    
    <div class="word" title="evening" data-word-id="よaf774426-626a-4f1b-8abf-a985608f0940" data-sentence-id="6">
        よ
        <div class="gloss">[emphasis]</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,終助詞,*,*</div>
        <div class="dictionary"> よ</div>
    </div>
    
    <div class="word" title="drawing" data-word-id="ね1bf6bd27-2505-421d-a716-9d92a36b0b7e" data-sentence-id="6">
        ね
        <div class="gloss">[seeking agreement]</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> ず</div>
    </div>
    
    <div class="word" title="" data-word-id="？b0b26483-fe9c-46ee-a8ad-96fb795be3f4" data-sentence-id="6">
        ？
        <div class="gloss">?</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズdee83574-8594-4124-a039-eab8508a8d0e" data-sentence-id="7">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones:</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to inherit" data-word-id="受け継ぐ02f92ba9-ae0e-48ed-904e-e08e9a974997" data-sentence-id="7">
        <ruby>受け継ぐ<rt>うけつぐ</rt></ruby>
        <div class="gloss">[to] inherit</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,*</div>
        <div class="dictionary"> 受け継ぐ</div>
    </div>
    
    <div class="word" title="ifto sayindicates possessivefeather" data-word-id="というのはea7397cf-2d0c-4bc3-95e7-ee244a09fccf" data-sentence-id="7">
        というのは
        <div class="gloss">[the term/saying]</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,格助詞,*,* 動詞,一般,*,* 助詞,準体助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> と 言う の は</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="mistake" data-word-id="間違いa78015a3-ddbd-4075-a061-dac3a1284e6c" data-sentence-id="7">
        <ruby>間違い<rt>まちがい</rt></ruby>
        <div class="gloss">incorrect</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 間違い</div>
    </div>
    
    <div class="word" title="be" data-word-id="です。77d62bed-8afe-46ff-9aa2-a46fe5a99567" data-sentence-id="7">
        です。
        <div class="gloss">is.</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,*</div>
        <div class="dictionary"> です</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマ62ad8227-16be-4d9d-8b73-4c8366d3cf0e" data-sentence-id="8">
        ソウマ
        <div class="gloss">Soma [Cruz]</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="as expected" data-word-id="やっぱり…。224528c7-34a1-41c9-83da-c9bda61d397a" data-sentence-id="8">
        やっぱり…。
        <div class="gloss">[It's] true then...</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> 矢張り</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズ0221199c-0b01-4c47-afc3-97af32c2e903" data-sentence-id="9">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="whydui (one of the trigrams of the I Ching: swamp, west)feather" data-word-id="何故なら私は、8d039933-95d1-4649-ad2a-6e05f724e6ba" data-sentence-id="9">
        <ruby>何故<rt>なぜ</rt></ruby>なら<ruby>私<rt>わたし</rt></ruby>は、
        <div class="gloss">Because I</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 助動詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 何故 だ は</div>
    </div>
    
    <div class="word" title="indicates possessive" data-word-id="ドラキュラの5e1fbfc6-5e77-4eb2-9889-5d065cb62b87" data-sentence-id="9">
        ドラキュラの
        <div class="gloss">Dracula's</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,格助詞,*,*</div>
        <div class="dictionary"> の</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to go to ruinmulti-dayload" data-word-id="滅びた日に、4d21fa7a-528e-491e-8743-5b986de13b66" data-sentence-id="9">
        <ruby>滅び<rt>ほろび</rt></ruby>た<ruby>日<rt>にち</rt></ruby>に、
        <div class="gloss">on [the] day [he was] destroyed</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 滅びる た 日 に</div>
    </div>
    
    <div class="word" title="pureindicates direct object of actionto receivemeasuring containermulti-" data-word-id="生を受けました。086ae599-aa2c-463d-a150-dc84904d5ad6" data-sentence-id="9">
        <ruby>生<rt>なま</rt></ruby>を<ruby>受け<rt>うけ</rt></ruby>ました。
        <div class="gloss">received life.</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,形状詞可能,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 生 を 受ける ます た</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="that is to saythatfeather" data-word-id="つまりそれは、5a2d9099-2566-4a0f-b80f-0f986873a1b5" data-sentence-id="9">
        つまりそれは、
        <div class="gloss">That is to say</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 代名詞,*,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 詰まり 其れ は</div>
    </div>
    
    <div class="word" title="(one's) selfmoth" data-word-id="私自身がab5fee92-65ed-4533-9305-c0faf78204bb" data-sentence-id="9">
        <ruby>私自身<rt>わたしじしん</rt></ruby>が
        <div class="gloss">I myself</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,副詞可能,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 自身 が</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)to bethingload" data-word-id="ドラキュラであることに、6401f2c3-1b63-4cfe-910e-b1b83e178495" data-sentence-id="9">
        ドラキュラであることに、
        <div class="gloss">being Dracula</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,* 動詞,非自立可能,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> だ 有る 事 に</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="other (place, thing, person)to becomeearthquakefrom (e.g. time, place, numerical quantity)be" data-word-id="他ならないからです。6b986a53-9a9f-47cc-8497-30ddd4fb1b91" data-sentence-id="9">
        <ruby>他な<rt>ほかな</rt></ruby>らないからです。
        <div class="gloss">is nothing other [than that].</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,副詞可能,* 動詞,非自立可能,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 他 成る ない から です</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマ86fe017a-f891-4701-a1e2-54058d1603a5" data-sentence-id="10">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="" data-word-id="！？ead2cfd4-1cec-48db-8dbe-ddd9dee6ea34" data-sentence-id="10">
        ！？
        <div class="gloss">!?</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="liedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="嘘だろ？f5f42f53-c330-498d-a6d7-89350d249b31" data-sentence-id="10">
        <ruby>嘘<rt>うそ</rt></ruby>だろ？
        <div class="gloss">That's a lie, isn't it?</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,* 助動詞,*,*,*</div>
        <div class="dictionary"> 嘘 だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="dui (one of the trigrams of the I Ching: swamp, west)you said" data-word-id="だって、8f8fdecc-eee7-4647-baff-c5f35ba36791" data-sentence-id="10">
        だって、
        <div class="gloss">But,</div>
        <div class="alt"></div>
        <div class="pos"> 助動詞,*,*,* 助詞,副助詞,*,*</div>
        <div class="dictionary"> だ って</div>
    </div>
    
    <div class="word" title="that sort ofdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="あんなに2c5d88ce-bb0b-4bbb-a9b6-ad340c8ccd1d" data-sentence-id="10">
        あんなに
        <div class="gloss">so/that much</div>
        <div class="alt"></div>
        <div class="pos"> 形状詞,一般,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> あんな だ</div>
    </div>
    
    <div class="word" title="tender" data-word-id="優しい60a87b91-396d-454e-b7fa-6829534588f4" data-sentence-id="10">
        <ruby>優しい<rt>やさしい</rt></ruby>
        <div class="gloss">kind</div>
        <div class="alt"></div>
        <div class="pos"> 形容詞,一般,*,*</div>
        <div class="dictionary"> 優しい</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="languageindicates direct object of action" data-word-id="言葉をa288e422-6f6b-47d0-a687-b4af1cf4b8d4" data-sentence-id="10">
        <ruby>言葉<rt>ことば</rt></ruby>を
        <div class="gloss">words</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> 言葉 を</div>
    </div>
    
    <div class="word" title="to hang up (e.g. a coat, a picture on the wall)handto givemulti-" data-word-id="かけてくれた4bc4f687-cbdd-46f5-979b-1b1e9b76821e" data-sentence-id="10">
        かけてくれた
        <div class="gloss">spoke [kindly] to me</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,非自立可能,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 掛ける て 呉れる た</div>
    </div>
    
    <div class="word" title="indicates possessiveload" data-word-id="のに！e9b212c3-4488-4585-a722-b6f52ab2b4cb" data-sentence-id="10">
        のに！
        <div class="gloss">despite [that]!</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,準体助詞,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> の に</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズ03bd07bb-6e5c-4279-9354-189535111de0" data-sentence-id="11">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="your homedegreeindicates possessivethingdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="あなた程度のものなら、6d9578bb-3c6f-4790-a116-3bc7293ddb9d" data-sentence-id="11">
        あなた<ruby>程度<rt>ていど</rt></ruby>のものなら、
        <div class="gloss">[someone] of your level</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 名詞,普通名詞,サ変可能,* 助動詞,*,*,*</div>
        <div class="dictionary"> 貴方 程度 の 物 だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="indicates possessiverivalcoming outfeathernonexistentif" data-word-id="私の敵ではないと38f04d4c-e9f7-4b56-a57a-4ab7bec3526d" data-sentence-id="11">
        <ruby>私<rt>わたし</rt></ruby>の<ruby>敵<rt>てき</rt></ruby>ではないと
        <div class="gloss">[is] not my enemy</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,格助詞,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 助詞,係助詞,*,* 形容詞,非自立可能,*,* 助詞,格助詞,*,*</div>
        <div class="dictionary"> の 敵 で は 無い と</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="judgmentto domulti-from (e.g. time, place, numerical quantity)be" data-word-id="判断したからです。5483821b-eb73-4c1c-b02d-438a2cbc10c7" data-sentence-id="11">
        <ruby>判断<rt>はんだん</rt></ruby>したからです。
        <div class="gloss">because [I] judged [so].</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,サ変可能,* 動詞,非自立可能,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 判断 為る た から です</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="thatloadto dohandmourning" data-word-id="それにしても、201dcf47-0799-4587-9f11-60dbcde6b095" data-sentence-id="11">
        それにしても、
        <div class="gloss">however,</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,* 動詞,非自立可能,*,* 助詞,接続助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 其れ に 為る て も</div>
    </div>
    
    <div class="word" title="hereuntil (a time)" data-word-id="ここまで
来られるとは…。
確かに力を感じますね。
教えていただきたいものです。
どんな力に目覚めたのか？
c868bfd4-0237-44a0-b021-c98b9937b210" data-sentence-id="11">
        ここまで
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助詞,副助詞,*,*</div>
        <div class="dictionary"> 此処 まで</div>
    </div>
    
    <div class="word" title="to come (spatially or temporally)indicates passive voice (incl. the "suffering passive")iffeather" data-word-id="ここまで
来られるとは…。
確かに力を感じますね。
教えていただきたいものです。
どんな力に目覚めたのか？
fdf0e801-695f-4bfb-b7e9-fc43a18c6d33" data-sentence-id="11">
        <ruby>来ら<rt>こら</rt></ruby>れるとは…。
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="pos"> 動詞,非自立可能,*,* 助動詞,*,*,* 助詞,格助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 来る られる と は</div>
    </div>
    
    <div class="word" title="suredui (one of the trigrams of the I Ching: swamp, west)forceindicates direct object of actionto feelmeasuring containerroot (of a plant)" data-word-id="ここまで
来られるとは…。
確かに力を感じますね。
教えていただきたいものです。
どんな力に目覚めたのか？
d6645906-906f-4281-ba6c-7d52c03f5271" data-sentence-id="11">
        <ruby>確かに<rt>たしかに</rt></ruby><ruby>力<rt>ちから</rt></ruby>を<ruby>感じ<rt>かんじ</rt></ruby>ますね。
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="pos"> 形状詞,一般,*,* 助動詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 確か だ 力 を 感ずる ます ね</div>
    </div>
    
    <div class="word" title="to teachhandto receiveother intentionthingbe" data-word-id="ここまで
来られるとは…。
確かに力を感じますね。
教えていただきたいものです。
どんな力に目覚めたのか？
03d93a20-5f08-4a09-ac12-2445c82f73cb" data-sentence-id="11">
        <ruby>教え<rt>おしえ</rt></ruby>ていただきたいものです。
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,* 名詞,普通名詞,サ変可能,* 助動詞,*,*,*</div>
        <div class="dictionary"> 教える て 頂く たい 物 です</div>
    </div>
    
    <div class="word" title="what kind offorceloadto wake upmulti-indicates possessivebeautiful" data-word-id="ここまで
来られるとは…。
確かに力を感じますね。
教えていただきたいものです。
どんな力に目覚めたのか？
bb5f2928-b7f7-41d9-b31d-46d914c3d195" data-sentence-id="11">
        どんな<ruby>力<rt>ちから</rt></ruby>に<ruby>目覚め<rt>めざめ</rt></ruby>たのか？
        <div class="gloss"></div>
        <div class="alt"></div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> どんな 力 に 目覚める た の か</div>
    </div>
    
                    </div> 
                    <div class="word-group">
    <div class="word" title="hereuntil (a time)to come (spatially or temporally)indicates passive voice (incl. the "suffering passive")iffeather" data-word-id="ここまで来られるとは…。91bcf724-809b-45ff-ba2b-b96a88ea82d1" data-sentence-id="11">
        ここまで<ruby>来ら<rt>こら</rt></ruby>れるとは…。
        <div class="gloss">to think [you] could come this far...</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助詞,副助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,* 助詞,格助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 此処 まで 来る られる と は</div>
    </div>
    
    <div class="word" title="suredui (one of the trigrams of the I Ching: swamp, west)forceindicates direct object of actionto feelmeasuring containerroot (of a plant)" data-word-id="確かに力を感じますね。b69001c1-e0a3-446d-81c9-19e3ab1c6b63" data-sentence-id="11">
        <ruby>確かに<rt>たしかに</rt></ruby><ruby>力<rt>ちから</rt></ruby>を<ruby>感じ<rt>かんじ</rt></ruby>ますね。
        <div class="gloss">[I] certainly sense power, don't [I]?</div>
        <div class="alt"></div>
        <div class="pos"> 形状詞,一般,*,* 助動詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> 確か だ 力 を 感ずる ます ね</div>
    </div>
    
    <div class="word" title="to teachhandto receiveother intentionthingbe" data-word-id="教えていただきたいものです。9b37338f-2018-4914-ad98-3e0ad9e69ddf" data-sentence-id="11">
        <ruby>教え<rt>おしえ</rt></ruby>ていただきたいものです。
        <div class="gloss">[I] would like [you] to tell [me].</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助詞,接続助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,* 名詞,普通名詞,サ変可能,* 助動詞,*,*,*</div>
        <div class="dictionary"> 教える て 頂く たい 物 です</div>
    </div>
    
    <div class="word" title="what kind offorceloadto wake upmulti-indicates possessivebeautiful" data-word-id="どんな力に目覚めたのか？b5f8fcc7-f1a7-4f7a-b373-e9f89198d65e" data-sentence-id="11">
        どんな<ruby>力<rt>ちから</rt></ruby>に<ruby>目覚め<rt>めざめ</rt></ruby>たのか？
        <div class="gloss">what kind of power have [you] awakened to?</div>
        <div class="alt"></div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,準体助詞,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> どんな 力 に 目覚める た の か</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマ6df4a5c9-9bcd-40df-92c1-cd4a678ba041" data-sentence-id="12">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="" data-word-id="…。55f9a15b-90c3-4039-9ef0-68b2b1af7cd9" data-sentence-id="12">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="domination" data-word-id="支配a0c4aaa3-1a09-4ca7-a698-45d7c96a2f4a" data-sentence-id="12">
        <ruby>支配<rt>しはい</rt></ruby>
        <div class="gloss">rule/domination</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,サ変可能,*</div>
        <div class="dictionary"> 支配</div>
    </div>
    
    <div class="word" title="indicates possessive" data-word-id="のc21caed6-d29b-4bf9-9ae8-f621dd9b31c6" data-sentence-id="12">
        の
        <div class="gloss">[possessive particle]</div>
        <div class="alt"></div>
        <div class="pos"> 助詞,格助詞,*,*</div>
        <div class="dictionary"> の</div>
    </div>
    
    <div class="word" title="force" data-word-id="力fc6eb8f8-1c73-449f-baf1-6fb1d9918749" data-sentence-id="12">
        <ruby>力<rt>ちから</rt></ruby>
        <div class="gloss">power</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,*</div>
        <div class="dictionary"> 力</div>
    </div>
    
    <div class="word" title="" data-word-id="…。d3d7caa8-5bf9-4722-a066-83c238c7642e" data-sentence-id="12">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズ06688c94-5ec4-4029-9586-a9750737f44a" data-sentence-id="13">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="what" data-word-id="何！？4b0ff727-55f4-4638-bcc4-38f42240b2cd" data-sentence-id="13">
        <ruby>何<rt>なに</rt></ruby>！？
        <div class="gloss">What!?</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,*</div>
        <div class="dictionary"> 何</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="appearing thatsuchidiotdui (one of the trigrams of the I Ching: swamp, west)" data-word-id="そ、そんな馬鹿な！？c6533faf-9be8-4e48-afc4-27e293b8a5bf" data-sentence-id="13">
        そ、そんな<ruby>馬鹿<rt>ばか</rt></ruby>な！？
        <div class="gloss">Th-that's absurd!?</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 連体詞,*,*,* 名詞,普通名詞,形状詞可能,* 助動詞,*,*,*</div>
        <div class="dictionary"> そう そんな 馬鹿 だ</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="suchthingfeatherto beto be able to ...drawing" data-word-id="そんなことはあり得ん！88a0e858-e056-435d-83f1-b4587bbe84a6" data-sentence-id="13">
        そんなことはあり<ruby>得ん<rt>えん</rt></ruby>！
        <div class="gloss">Such a thing is impossible!</div>
        <div class="alt"></div>
        <div class="pos"> 連体詞,*,*,* 名詞,普通名詞,一般,* 助詞,係助詞,*,* 動詞,非自立可能,*,* 動詞,非自立可能,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> そんな 事 は 有る 得る ず</div>
    </div>
    
                </div> 
                <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマfe3185a2-ebb5-4354-a3de-f1b6c4096ed3" data-sentence-id="14">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="" data-word-id="？f9b8d1cc-08ff-4da9-9f2a-40e931a1f1bc" data-sentence-id="14">
        ？
        <div class="gloss">?</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="" data-word-id="グラハム・ジョーンズ46e60661-9ca3-49f5-9b30-c048eaaa1f44" data-sentence-id="14">
        グラハム・ジョーンズ
        <div class="gloss">Graham Jones</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="in this wayto dohandfeatherto be (of animate objects)indicates passive voice (incl. the "suffering passive")earthquake" data-word-id="こうしてはいられない。cf0b560e-af3f-4dae-8478-b7469babbdb8" data-sentence-id="14">
        こうしてはいられない。
        <div class="gloss">[I] cannot remain like this.</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 動詞,非自立可能,*,* 助詞,接続助詞,*,* 助詞,係助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> こう 為る て は 居る られる ない</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="throneloadto hurryearthquakehandfeather" data-word-id="玉座に急がなくては！00635279-5412-41fe-a0a3-4fc4c0e15e97" data-sentence-id="14">
        <ruby>玉座<rt>ぎょくざ</rt></ruby>に<ruby>急が<rt>いそが</rt></ruby>なくては！
        <div class="gloss">[I] must hurry to the throne!</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,普通名詞,一般,* 助詞,格助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,接続助詞,*,* 助詞,係助詞,*,*</div>
        <div class="dictionary"> 玉座 に 急ぐ ない て は</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="mallow (any plant of family Malvaceae)ifbeautifulto saymulti-greens" data-word-id="蒼真とかいったな！6ddca4b7-20d1-4a46-a099-22271f215c12" data-sentence-id="14">
        <ruby>蒼<rt>あお</rt></ruby><ruby>真<rt>まこと</rt></ruby>とかいったな！
        <div class="gloss">[Your name was] Soma, wasn't it!</div>
        <div class="alt"></div>
        <div class="pos"> 名詞,固有名詞,人名,姓 助詞,格助詞,*,* 助詞,副助詞,*,* 動詞,一般,*,* 助動詞,*,*,* 助詞,終助詞,*,*</div>
        <div class="dictionary"> アオイ と か 言う た な</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="youindicates possessivethoughtavenueloadfeatherto doto competedrawing" data-word-id="貴様の思い通りにはさせん！d0e398b6-4bb5-4d13-80c0-9efb54306340" data-sentence-id="14">
        <ruby>貴様<rt>きさま</rt></ruby>の<ruby>思い<rt>おもい</rt></ruby><ruby>通り<rt>とうり</rt></ruby>にはさせん！
        <div class="gloss">[I] won't let things go as you wish!</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助詞,格助詞,*,* 名詞,普通名詞,一般,* 名詞,普通名詞,助数詞可能,* 助詞,格助詞,*,* 助詞,係助詞,*,* 動詞,非自立可能,*,* 助動詞,*,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 貴様 の 思い 通り に は 為る せる ず</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="to permitindicates passive voice (incl. the "suffering passive")should (be)mothnonexistentindicates possessivedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="許されるはずがないのだ！9d48ff88-4da5-4288-a0f4-b1f09ffd8f62" data-sentence-id="14">
        <ruby>許さ<rt>ゆるさ</rt></ruby>れるはずがないのだ！
        <div class="gloss">[This] cannot possibly be allowed!</div>
        <div class="alt"></div>
        <div class="pos"> 動詞,一般,*,* 助動詞,*,*,* 名詞,普通名詞,一般,* 助詞,格助詞,*,* 形容詞,非自立可能,*,* 助詞,準体助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 許す れる 筈 が 無い の だ</div>
    </div>
    
                </div> 
                <div class="word-group">
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="appearing thatjust (e.g. "just wait here")" data-word-id="ソウマd5a1b5e0-baa4-439c-81fc-950c99638116" data-sentence-id="15">
        ソウマ
        <div class="gloss">Soma</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,* 感動詞,フィラー,*,*</div>
        <div class="dictionary"> そう まー</div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="" data-word-id="？74254772-4a49-4dc7-84fd-c01256eb53bd" data-sentence-id="15">
        ？
        <div class="gloss">?</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
                    </div> 
                    <div class="word-group">
                    </div> 
                    <div class="word-group">
    <div class="word" title="whatdui (one of the trigrams of the I Ching: swamp, west)indicates possessivedui (one of the trigrams of the I Ching: swamp, west)" data-word-id="なんなんだe4f3e396-c40d-4d66-9ed7-7d3f992f9b59" data-sentence-id="15">
        なんなんだ
        <div class="gloss">what [is it]</div>
        <div class="alt"></div>
        <div class="pos"> 代名詞,*,*,* 助動詞,*,*,* 助詞,準体助詞,*,* 助動詞,*,*,*</div>
        <div class="dictionary"> 何 だ の だ</div>
    </div>
    
    <div class="word" title="(what) the heck" data-word-id="一体bc175b9a-4d5c-4ddb-9a08-e28ac47c0e3c" data-sentence-id="15">
        <ruby>一体<rt>いったい</rt></ruby>
        <div class="gloss">[on] earth</div>
        <div class="alt"></div>
        <div class="pos"> 副詞,*,*,*</div>
        <div class="dictionary"> 一体</div>
    </div>
    
    <div class="word" title="" data-word-id="…。0fc45c84-d072-4ca7-8d9e-cb75fdf603ed" data-sentence-id="15">
        …。
        <div class="gloss">...</div>
        <div class="alt"></div>
        <div class="pos"></div>
        <div class="dictionary"></div>
    </div>
    
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    