
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html>
<title>Inferno - Dante</title>
<h1>Inferno - Dante</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Canto I of Dante's Inferno.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

<body>
    <div class="interlinear-container">    
        <div class="word-group">
    
                <div class="word" title="">
                    Inferno
                    <div class="gloss"></div>
                    <div class="pos"> PROPN</div>
                    <div class="dictionary"> Inferno</div>
                    <div class="sourcesentence">Inferno
Canto I
Nel mezzo del cammin di nostra vita
mi ritrovai per una selva oscura,
ché la diritta via era smarrita.

</div>
                    <div class="translation">Midway in the journey of our life I found myself in a dark wood, for the straight way was lost. </div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="Gender=Masc|Number=Sing">
                    Canto
                    <div class="gloss"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> canto</div>
                    <div class="sourcesentence">Inferno
Canto I
Nel mezzo del cammin di nostra vita
mi ritrovai per una selva oscura,
ché la diritta via era smarrita.

</div>
....
                    <div class="translation">
And I to him, "Poet, I beseech you, by that God whom you did not know, so that I may escape this ill and worse, lead me whither you said just now, that I may see St. Peter's gate and those whom you term so woeful."
</div>
                </div>
                 
                <div class="word" title="">
                    cotanto
                    <div class="gloss">so</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> cotanto</div>
                    <div class="sourcesentence">

E io a lui: «Poeta, io ti richeggio
per quello Dio che tu non conoscesti,
acciò ch’io fugga questo male e peggio,

che tu mi meni là dov’ or dicesti,
sì ch’io veggia la porta di san Pietro
e color cui tu fai cotanto mesti».

</div>
                    <div class="translation">
And I to him, "Poet, I beseech you, by that God whom you did not know, so that I may escape this ill and worse, lead me whither you said just now, that I may see St. Peter's gate and those whom you term so woeful."
</div>
                </div>
                 
                <div class="word" title="Gender=Masc|Number=Plur">
                    mesti».
                    <div class="gloss">woeful."</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> mesto</div>
                    <div class="sourcesentence">

E io a lui: «Poeta, io ti richeggio
per quello Dio che tu non conoscesti,
acciò ch’io fugga questo male e peggio,

che tu mi meni là dov’ or dicesti,
sì ch’io veggia la porta di san Pietro
e color cui tu fai cotanto mesti».

</div>
                    <div class="translation">
And I to him, "Poet, I beseech you, by that God whom you did not know, so that I may escape this ill and worse, lead me whither you said just now, that I may see St. Peter's gate and those whom you term so woeful."
</div>
                </div>
                
                </div> 
                <div class="word-group">
                </div> 
                <div class="word-group">
                <div class="word" title="Gender=Fem|Number=Sing">
                    Allor
                    <div class="gloss">Then</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> allor</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="Clitic=Yes|Person=3|PronType=PrsGender=Fem|Number=Plur|Tense=Past|VerbForm=Part">
                    si mosse,
                    <div class="gloss">he set out,</div>
                    <div class="pos"> PRON VERB</div>
                    <div class="dictionary"> si mosndere</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="">
                    e
                    <div class="gloss">and</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> e</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="Number=Sing|Person=1|PronType=Prs">
                    io
                    <div class="gloss">I</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> io</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="Clitic=Yes|Gender=Masc|Number=Plur|Person=3|PronType=Prs">
                    li
                    <div class="gloss">him</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> li</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="Mood=Ind|Number=Sing|Person=2|Tense=Pres|VerbForm=Fin">
                    tenni
                    <div class="gloss">followed</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> tennare</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                 
                <div class="word" title="">
                    dietro.
                    <div class="gloss">after.</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> dietro</div>
                    <div class="sourcesentence">

Allor si mosse, e io li tenni dietro.</div>
                    <div class="translation">
Then he set out, and I followed after him.</div>
                </div>
                
    </div>
</div>

<div class="button-bar">
    <button id="toggleGlossButton">Toggle Translation</button>
    <!-- Add more buttons as needed -->
</div>

<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    