
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="1"><meta name="sentence_store" content="sinocismtest_1">
</head>
<html>

<body>
<div class="main-container">
    <title>SinocismTest</title>
<h1>SinocismTest</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of Test of Gloss's Chinese Interlinear.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container">    
        <div class="word-group">
            
                <div class="word" title="" data-word-id="要0a20a61e-0557-4fda-90f2-fbb52d919254" data-sentence-id="1">
                    要
                    <div class="gloss">must</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="实施4d4cbb75-47f8-41fa-a289-5c43a8196743" data-sentence-id="1">
                    实施
                    <div class="gloss">implement</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="更加868d91ef-24d6-4f44-9394-09a35f78cada" data-sentence-id="1">
                    更加
                    <div class="gloss">more</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="积极8e8b5410-a9fe-4abb-b926-5554ff094a08" data-sentence-id="1">
                    积极
                    <div class="gloss">active</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="的abffd5e2-a5f0-4d18-b5a3-72eefb428703" data-sentence-id="1">
                    的
                    <div class="gloss">'s</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PART</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="财政052bb186-3f64-4c14-837e-655b7fb288bd" data-sentence-id="1">
                    财政
                    <div class="gloss">fiscal</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="政策74df4674-c8b3-4c30-8886-e3dbb20f22be" data-sentence-id="1">
                    政策
                    <div class="gloss">policy。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。dc4c4156-f9c2-4ff4-9874-8ba555fa5220" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="提高b58b9a04-03fb-4098-aeea-adbcb7c3020d" data-sentence-id="1">
                    提高
                    <div class="gloss">raise</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="财政1bd8104c-9d0c-4576-ab7c-77962134a706" data-sentence-id="1">
                    财政
                    <div class="gloss">fiscal</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="赤字324c11d6-5072-4887-8f4f-f43698bd461b" data-sentence-id="1">
                    赤字
                    <div class="gloss">deficit ratio，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="率eec60689-8834-4373-b372-d053fcdb55ee" data-sentence-id="1">
                    率
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="，aa6d5c75-dc24-4e7c-8e25-79bd1b77dcaa" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="确保398494e3-35d2-4fcb-bdd1-cd63d490be60" data-sentence-id="1">
                    确保
                    <div class="gloss">ensure</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="财政25f78bfa-116e-4761-a183-15714f8580e8" data-sentence-id="1">
                    财政
                    <div class="gloss">fiscal</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="政策e18499f7-7763-4f2f-942a-fff6eac8b0c7" data-sentence-id="1">
                    政策
                    <div class="gloss">policy</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="持续576ae098-7fcc-4b50-bbb0-04ed3c83ea35" data-sentence-id="1">
                    持续
                    <div class="gloss">continuously</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="用力2dac14ae-2633-40c8-ad43-9fad22997ac4" data-sentence-id="1">
                    用力
                    <div class="gloss">exert force、</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="、97afb857-ebae-4563-9f8c-03e112269ee4" data-sentence-id="1">
                    、
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="更加5f1da995-3871-48d5-a769-3271395bf2d7" data-sentence-id="1">
                    更加
                    <div class="gloss">more</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="给力51006d22-bd44-42ed-82ce-8e0eb5a80427" data-sentence-id="1">
                    给力
                    <div class="gloss">powerful。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。3cd971b0-5e6a-4aab-b207-2d525749b9a0" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="加大1d94737e-64aa-44cc-abd9-cf410bb91646" data-sentence-id="1">
                    加大
                    <div class="gloss">increase</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="财政0162f97d-4068-4e2c-9ac5-fff83a2cb1d2" data-sentence-id="1">
                    财政
                    <div class="gloss">fiscal</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="支出54c4c174-62b1-41fb-9ea1-9ac66f8f2a0a" data-sentence-id="1">
                    支出
                    <div class="gloss">spending</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="强度e5ce500a-a270-4d9f-82e7-ad368cdf9e51" data-sentence-id="1">
                    强度
                    <div class="gloss">intensity，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，5dcb26b5-31c8-4636-99e9-71ab2bf12026" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="加强5d8877fd-8767-4d99-8c54-8bb745696192" data-sentence-id="1">
                    加强
                    <div class="gloss">strengthen</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="重点e394f1fb-d0d9-4e81-af27-a6e0fa105583" data-sentence-id="1">
                    重点
                    <div class="gloss">key</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="领域32ab9589-fc0f-4e1c-a633-fe513e15e721" data-sentence-id="1">
                    领域
                    <div class="gloss">areas</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="保障292ddc7a-1eba-40f2-8e44-4b70277e38e5" data-sentence-id="1">
                    保障
                    <div class="gloss">protection。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。a5879fc2-7e09-4f3a-8021-d19f3b8fdd3c" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="增加0d8befea-1b5d-46e8-be0d-7d336654f370" data-sentence-id="1">
                    增加
                    <div class="gloss">increase</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="发行159039be-73bd-4cde-a05e-54001954e61a" data-sentence-id="1">
                    发行
                    <div class="gloss">issuance</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="超57b7b8a0-2c90-44f7-aa29-997106ba7050" data-sentence-id="1">
                    超
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="长期9df9cfc3-f601-4a45-908c-d700f00d90c6" data-sentence-id="1">
                    长期
                    <div class="gloss">ultra-long-term</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="特别1423a6f7-3abc-4677-961e-b4509ff8100b" data-sentence-id="1">
                    特别
                    <div class="gloss">special</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="国债f8f0b9ba-ec18-4f5b-880c-d9a4fb3649b5" data-sentence-id="1">
                    国债
                    <div class="gloss">treasury bonds，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，5827fd56-08c2-43c3-adef-dfe4c56fb919" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="持续388612ef-2fed-4d21-aa12-220ea93c99cc" data-sentence-id="1">
                    持续
                    <div class="gloss">continuously</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="支持13d3858b-a6ad-41ec-9c80-a3b0cb06afdb" data-sentence-id="1">
                    支持
                    <div class="gloss">support</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="“12418dd2-71ed-42d5-b933-4067690b0db1" data-sentence-id="1">
                    “
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="两重72b66268-77ca-4454-a6ec-3ebf130c4b3d" data-sentence-id="1">
                    两重
                    <div class="gloss">two major"</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NUM</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="”705d5c7f-ffe7-4ee7-bc29-0966aaaf4c27" data-sentence-id="1">
                    ”
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="项目3ddedb93-e6d7-4b05-aa01-7afacca42a4d" data-sentence-id="1">
                    项目
                    <div class="gloss">projects</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="和710b4a53-e633-445f-aff3-dfca578b0d0e" data-sentence-id="1">
                    和
                    <div class="gloss">and</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="“97ba3463-e3c1-407a-9b6a-b303ae3caaff" data-sentence-id="1">
                    “
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="两新276c0ba0-d2d6-4789-b0d7-8ba7bb068581" data-sentence-id="1">
                    两新
                    <div class="gloss">two new"</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NUM</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="”68d28db7-1958-455e-81f6-e86a66668d30" data-sentence-id="1">
                    ”
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="政策6f9456a3-04f9-4303-848e-2ee29c8d2e33" data-sentence-id="1">
                    政策
                    <div class="gloss">policy</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="实施e73af3fa-2551-46ac-b027-6676e087e9e6" data-sentence-id="1">
                    实施
                    <div class="gloss">implementation。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。4615fff0-bd22-43d0-93ec-f5a6466e22b1" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="增加368f7919-af45-4138-817e-fdd68f548ddf" data-sentence-id="1">
                    增加
                    <div class="gloss">increase</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="地方927f5a04-0ecd-4e87-a71d-0abd5e22815b" data-sentence-id="1">
                    地方
                    <div class="gloss">local</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="政府7842156c-bed2-4d40-b301-a6830f1f1e10" data-sentence-id="1">
                    政府
                    <div class="gloss">government</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="专项6f3debb8-f288-4898-85b5-37169a7967f3" data-sentence-id="1">
                    专项
                    <div class="gloss">special bonds</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="债券c44a338c-4a83-4516-9b2c-c27051d176f9" data-sentence-id="1">
                    债券
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="发行479df502-466f-4177-bf2b-96c87d9aa11c" data-sentence-id="1">
                    发行
                    <div class="gloss">issuance</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="使用ff43f02d-1346-4fee-b8b7-2921e29ad3ea" data-sentence-id="1">
                    使用
                    <div class="gloss">usage，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，15de3119-b73f-42a9-97b7-3890735bec2b" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="扩大bcdf860e-c39c-4775-b3de-397a5ab49b3f" data-sentence-id="1">
                    扩大
                    <div class="gloss">expand</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="投向88e4fa5c-f3be-46e7-bbe1-2db925424c5c" data-sentence-id="1">
                    投向
                    <div class="gloss">investment</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="领域d9c10417-51e8-4091-aada-7b6b747d9d20" data-sentence-id="1">
                    领域
                    <div class="gloss">areas</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="和017ebe14-dc2f-465f-8ebd-d29da42ed23a" data-sentence-id="1">
                    和
                    <div class="gloss">and</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="用作a631f3d5-23e1-460d-9283-4942ac4899f9" data-sentence-id="1">
                    用作
                    <div class="gloss">use as</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="项目8c2db257-d2cb-4aa5-83c6-b2429cc75302" data-sentence-id="1">
                    项目
                    <div class="gloss">project</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="资本金d9cbe1fb-9681-493d-b43c-fccdde4e1d18" data-sentence-id="1">
                    资本金
                    <div class="gloss">capital</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="范围f029c6b4-a3cb-422d-9a78-809b0960b8cd" data-sentence-id="1">
                    范围
                    <div class="gloss">scope。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。42677af5-3504-4ac3-8166-05feeb6bacfb" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="优化9afad0be-e484-48a1-8ca0-d0b09227c178" data-sentence-id="1">
                    优化
                    <div class="gloss">optimize</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="财政fb2c5dab-9a8e-4f0a-af08-5d0810f82939" data-sentence-id="1">
                    财政
                    <div class="gloss">fiscal</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="支出7975f470-f7d6-4c11-9018-94f48e7f80c9" data-sentence-id="1">
                    支出
                    <div class="gloss">spending</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="结构0efa27b1-3e19-4c5c-9b10-52b1dde55d20" data-sentence-id="1">
                    结构
                    <div class="gloss">structure，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，fe46ba73-04da-4286-8674-ecdfbe7ee824" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="提高d8cceb5a-dfc1-4405-a051-79ecbe1a3ff3" data-sentence-id="1">
                    提高
                    <div class="gloss">improve</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="资金c55bfc1e-e348-476b-acff-c96b4ea0aa5a" data-sentence-id="1">
                    资金
                    <div class="gloss">funds</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="使用5087befc-a920-472c-a9b9-2c7646e14565" data-sentence-id="1">
                    使用
                    <div class="gloss">utilization</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="效益44156b7b-1232-405f-9f91-8811ce83a10c" data-sentence-id="1">
                    效益
                    <div class="gloss">efficiency，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，5bcb5387-139d-4542-a167-5e94c032e2d8" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="更加59251c31-190d-46b8-a0a7-1c5911ccab38" data-sentence-id="1">
                    更加
                    <div class="gloss">more</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="注重86953e51-baed-427e-b37f-7de7afd3723c" data-sentence-id="1">
                    注重
                    <div class="gloss">focus on</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="惠2edf7e87-1a5b-4744-aa76-54cf7ddafdc5" data-sentence-id="1">
                    惠
                    <div class="gloss">benefit</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="民2d54296b-6023-4ce2-a250-c0ada9ed8467" data-sentence-id="1">
                    民
                    <div class="gloss">people's livelihood、</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="生7c90a305-c935-4331-affa-7f2ee18f075a" data-sentence-id="1">
                    生
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="、ea45c48f-efbe-475c-b49e-da2987b0718c" data-sentence-id="1">
                    、
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="促3e6ec56c-dc5e-4148-a9d7-8ea26111fa42" data-sentence-id="1">
                    促
                    <div class="gloss">promote</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="消费200c06e8-f9ac-420b-94b5-0a7838b3cacd" data-sentence-id="1">
                    消费
                    <div class="gloss">consumption、</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="、6790045d-1d25-499a-b13d-9738513ada6c" data-sentence-id="1">
                    、
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="增ec29f454-90b6-40f8-879c-4a2c4556687e" data-sentence-id="1">
                    增
                    <div class="gloss">increase</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="后劲cbc8513a-7768-430c-8ebb-0813a8fe55b4" data-sentence-id="1">
                    后劲
                    <div class="gloss">sustainability，</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="，534cadd8-fa52-4fae-b96a-a080d12eacd7" data-sentence-id="1">
                    ，
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="兜牢88047c42-fc3f-4ad7-9fa0-114b50664ffb" data-sentence-id="1">
                    兜牢
                    <div class="gloss">ensure</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="基层a9dc8565-3d02-43df-838b-1dcddc1cdf15" data-sentence-id="1">
                    基层
                    <div class="gloss">grassroots</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="“942053bc-a102-4d7f-9b58-039a87c9a387" data-sentence-id="1">
                    “
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="三保4c13b3b0-5637-44fb-8b2a-3c2134d278b6" data-sentence-id="1">
                    三保
                    <div class="gloss">three guarantees"</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NUM</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="”605d33fc-91c8-4f91-81bf-aafa6088d4e0" data-sentence-id="1">
                    ”
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="底线f34cac86-df14-43cc-9800-70ba4dc9f47a" data-sentence-id="1">
                    底线
                    <div class="gloss">baseline。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="。d631a8d4-c006-46ab-ae03-ef3e07f93b96" data-sentence-id="1">
                    。
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> PUNCT</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="党政ea6a79dc-986e-4a4f-88e9-6acfe62387eb" data-sentence-id="1">
                    党政
                    <div class="gloss">party and government</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="机关14b0ed8c-a551-4d98-a838-8505588468c4" data-sentence-id="1">
                    机关
                    <div class="gloss">organs</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="要3fdda1b8-9bb8-4ebd-9769-2317d931dd12" data-sentence-id="1">
                    要
                    <div class="gloss">must</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="坚持0a3726e0-f5b4-4870-8764-1cb9fdbd3467" data-sentence-id="1">
                    坚持
                    <div class="gloss">maintain</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="过85a1d78e-ca0a-4361-85cd-edc42ddc3e81" data-sentence-id="1">
                    过
                    <div class="gloss">live</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> </div>
                </div>
                 
                <div class="word" title="" data-word-id="紧b356630f-0688-495d-9287-bf667fd99d2e" data-sentence-id="1">
                    紧
                    <div class="gloss">tight</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> </div>
                </div>
                
                <div class="word" title="" data-word-id="日子c8a0d78e-9310-4528-a127-fd8e56e29657" data-sentence-id="1">
                    日子
                    <div class="gloss">days。</div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> </div>
                </div>
                 
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    