
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='gloss.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="page_number" content="1"><meta name="sentence_store" content="afsharitasnif_1">
</head>
<html>

<body>
<div class="main-container">
    <title>afsharitasnif</title>
<h1>afsharitasnif</h1>
<p>This is a demonstration of an early version of Gloss featuring the text of afsharitasnif.</p>
<p>Reveal meanings of individual words by clicking on them.</p>
<p>Hover over to reveal grammatical information.</p>
<p>Highlight text to bring it to the attention of the tutor program.</p>
<p>Ask the tutor program questions about the language or for help with the interface.</p>

    <div class="interlinear-container" dir="rtl">    
        <div class="word-group">
            
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="زfb84b7b5-7f49-4075-8711-657e3aa7a21a" data-sentence-id="1">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Shortened form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="جهان0cb09b39-ffdd-4645-bd5e-7af84722cede" data-sentence-id="1">
                    جهان
                    <div class="gloss">world</div>
                    <div class="alt">jahan</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> جهان</div>
                </div>
                 
                <div class="word" title="" data-word-id="دل7eda12ff-69fd-423e-ab8d-83b18e1320a6" data-sentence-id="1">
                    دل
                    <div class="gloss">heart</div>
                    <div class="alt">del</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دل</div>
                </div>
                 
                <div class="word" title="" data-word-id="برکندم03534867-fb94-42ca-b927-ebf9f8391b60" data-sentence-id="1">
                    برکندم
                    <div class="gloss">I tore up</div>
                    <div class="alt">barkandam</div>
                    <div class="lit">Past tense of برکندن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> برکند</div>
                </div>
                 
                <div class="word" title="" data-word-id="تا0a64d8df-96f7-4363-bbd2-5c5ea79f8110" data-sentence-id="1">
                    تا
                    <div class="gloss">until</div>
                    <div class="alt">ta</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> SCONJ</div>
                    <div class="dictionary"> تا</div>
                </div>
                 
                <div class="word" title="" data-word-id="شوریf665f1de-c998-43c5-82b2-e4acaf02405c" data-sentence-id="1">
                    شوری
                    <div class="gloss">passion/excitement</div>
                    <div class="alt">shuri</div>
                    <div class="lit">Noun with indefinite یی</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شوری</div>
                </div>
                 
                <div class="word" title="" data-word-id="پیدا33c26fb3-c8f1-4c8a-8440-21a31c98153d" data-sentence-id="1">
                    پیدا
                    <div class="gloss">find/appear</div>
                    <div class="alt">peyda</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> پیدا</div>
                </div>
                 
                <div class="word" title="" data-word-id="کردمf6f43008-d51c-4ab1-9dfc-f982f69b84ad" data-sentence-id="1">
                    کردم
                    <div class="gloss">I did/made</div>
                    <div class="alt">kardam</div>
                    <div class="lit">Past tense of کردن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> کرد#کن</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="تو47181b08-1337-4134-832e-355c9c4055e8" data-sentence-id="1">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="سیهd8d9af73-a669-4e13-93fe-ecc95830a93f" data-sentence-id="1">
                    سیه
                    <div class="gloss">black</div>
                    <div class="alt">siyah</div>
                    <div class="lit">Adjective, poetic form of سیاه</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> سیه</div>
                </div>
                 
                <div class="word" title="" data-word-id="گیسو0a3bf0fb-d430-43d4-bbbb-a8c8c18b5011" data-sentence-id="1">
                    گیسو
                    <div class="gloss">tresses/hair</div>
                    <div class="alt">gisu</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گیسو</div>
                </div>
                 
                <div class="word" title="" data-word-id="کردی028c9542-95d9-4b1f-bfb8-f320712997f7" data-sentence-id="1">
                    کردی
                    <div class="gloss">you made</div>
                    <div class="alt">kardi</div>
                    <div class="lit">Past tense of کردن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> کردی</div>
                </div>
                 
                <div class="word" title="" data-word-id="چون395e249a-eb11-420d-b527-7539db6fe5f2" data-sentence-id="1">
                    چون
                    <div class="gloss">like</div>
                    <div class="alt">chun</div>
                    <div class="lit">Comparative conjunction</div>
                    <div class="pos"> SCONJ</div>
                    <div class="dictionary"> چون</div>
                </div>
                 
                <div class="word" title="" data-word-id="مجنونcb31e8c4-cb6e-4f3a-a734-89d839caff6d" data-sentence-id="1">
                    مجنون
                    <div class="gloss">Majnun</div>
                    <div class="alt">majnun</div>
                    <div class="lit">Proper noun, legendary lover</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> مجنون</div>
                </div>
                 
                <div class="word" title="" data-word-id="صحرا94bcee42-93d1-4547-a6d2-a12466d507bc" data-sentence-id="1">
                    صحرا
                    <div class="gloss">desert</div>
                    <div class="alt">sahra</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> صحرا</div>
                </div>
                 
                <div class="word" title="" data-word-id="گردم0f8413da-5d24-4d3a-9bd9-6ca96138807f" data-sentence-id="1">
                    گردم
                    <div class="gloss">I wander</div>
                    <div class="alt">gardam</div>
                    <div class="lit">Present subjunctive of گشتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> گشت#گرد</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ز70b348e9-714b-44d0-adcc-9cbb11b25a69" data-sentence-id="2">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Shortened form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="تو4294e42e-545a-44fa-b85e-67f0eff5dfb2" data-sentence-id="2">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="نوشین7cb1dfdb-f323-469b-9c3e-afec64105a2c" data-sentence-id="2">
                    نوشین
                    <div class="gloss">sweet</div>
                    <div class="alt">noshin</div>
                    <div class="lit">Adjective meaning honey-like/sweet</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> نوشین</div>
                </div>
                 
                <div class="word" title="" data-word-id="لبa17a4e38-43d0-46cf-91e7-f4e915b0857e" data-sentence-id="2">
                    لب
                    <div class="gloss">lip</div>
                    <div class="alt">lab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> لب</div>
                </div>
                 
                <div class="word" title="" data-word-id="باشد83d58585-362d-4708-8a5a-475d28bdf289" data-sentence-id="2">
                    باشد
                    <div class="gloss">is/would be</div>
                    <div class="alt">bashad</div>
                    <div class="lit">Present subjunctive of بودن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> باشید#باش</div>
                </div>
                 
                <div class="word" title="" data-word-id="همf4360d9c-3b25-4eb5-ada6-2b747bdeb85f" data-sentence-id="2">
                    هم
                    <div class="gloss">both/also</div>
                    <div class="alt">ham</div>
                    <div class="lit">Conjunction/adverb</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> هم</div>
                </div>
                 
                <div class="word" title="" data-word-id="درمان604af1dd-0397-4bee-85cb-10a4370a407e" data-sentence-id="2">
                    درمان
                    <div class="gloss">cure/remedy</div>
                    <div class="alt">darman</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> درمان</div>
                </div>
                 
                <div class="word" title="" data-word-id="و5e834c75-55f8-471c-9f1b-42c394ef6a9a" data-sentence-id="2">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="هم631cba1c-7a62-4a60-9a12-8e206207d305" data-sentence-id="2">
                    هم
                    <div class="gloss">also</div>
                    <div class="alt">ham</div>
                    <div class="lit">Conjunction/adverb</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> هم</div>
                </div>
                 
                <div class="word" title="" data-word-id="دردم86e01999-ab27-42ee-959b-d118e394e5c2" data-sentence-id="2">
                    دردم
                    <div class="gloss">my pain</div>
                    <div class="alt">dardam</div>
                    <div class="lit">Noun درد + possessive suffix م</div>
                    <div class="pos"> ADV</div>
                    <div class="dictionary"> دردم</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="دلم6794fd3a-f811-48e6-b4b0-c5d4f315a4f9" data-sentence-id="2">
                    دلم
                    <div class="gloss">my heart</div>
                    <div class="alt">delam</div>
                    <div class="lit">Noun دل + possessive suffix م</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دلم</div>
                </div>
                 
                <div class="word" title="" data-word-id="از6aeaf1ef-cb69-4a77-a4a3-a6e3d734f5ac" data-sentence-id="2">
                    از
                    <div class="gloss">with/from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="خون59b14444-d01f-48db-b8cf-582ef60c954e" data-sentence-id="2">
                    خون
                    <div class="gloss">blood</div>
                    <div class="alt">khun</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خون</div>
                </div>
                 
                <div class="word" title="" data-word-id="چونda8bf099-2920-4989-aac9-9faa610402b4" data-sentence-id="2">
                    چون
                    <div class="gloss">like</div>
                    <div class="alt">chun</div>
                    <div class="lit">Comparative preposition</div>
                    <div class="pos"> SCONJ</div>
                    <div class="dictionary"> چون</div>
                </div>
                 
                <div class="word" title="" data-word-id="مینا6b8a3e87-4d8e-4395-a4a7-1199ef37df9c" data-sentence-id="2">
                    مینا
                    <div class="gloss">wine glass</div>
                    <div class="alt">mina</div>
                    <div class="lit">Noun referring to glass vessel</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> مینا</div>
                </div>
                 
                <div class="word" title="" data-word-id="لبریزe13085e1-37ab-44c5-b9a1-a6f34ead25ac" data-sentence-id="2">
                    لبریز
                    <div class="gloss">full/overflowing</div>
                    <div class="alt">labriz</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> لبریز</div>
                </div>
                 
                <div class="word" title="" data-word-id="و6fecf79b-d598-4559-8509-ced60df7a9fb" data-sentence-id="2">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="منa9efa6c8-838e-49be-b9f3-dc6dfc4d6ed2" data-sentence-id="2">
                    من
                    <div class="gloss">I</div>
                    <div class="alt">man</div>
                    <div class="lit">First person pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="خاموشمea2f243c-0f0f-449f-b787-08ad72ce60f2" data-sentence-id="2">
                    خاموشم
                    <div class="gloss">I am silent</div>
                    <div class="alt">khamusham</div>
                    <div class="lit">Adjective خاموش + verb ending م</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> خاموشم</div>
                </div>
                 
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="شبf3fce139-5acf-410a-9bda-0e0198e0556c" data-sentence-id="3">
                    شب
                    <div class="gloss">night</div>
                    <div class="alt">shab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> شب</div>
                </div>
                 
                <div class="word" title="" data-word-id="هجران0e1ac2c7-0da8-4fe5-9c65-753484bc62e0" data-sentence-id="3">
                    هجران
                    <div class="gloss">separation</div>
                    <div class="alt">hejran</div>
                    <div class="lit">Noun meaning separation/parting</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> هجران</div>
                </div>
                 
                <div class="word" title="" data-word-id="جایde43910c-45d3-438c-90d2-166d62839c45" data-sentence-id="3">
                    جای
                    <div class="gloss">instead of</div>
                    <div class="alt">jay-e</div>
                    <div class="lit">Preposition meaning 'in place of'</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> جای</div>
                </div>
                 
                <div class="word" title="" data-word-id="می393aed34-472f-4051-ad3a-01a883042c41" data-sentence-id="3">
                    می
                    <div class="gloss">wine</div>
                    <div class="alt">mey</div>
                    <div class="lit">Noun meaning wine</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="خونابc0ad1407-9247-495b-87b9-8eac922aae7e" data-sentence-id="3">
                    خوناب
                    <div class="gloss">blood</div>
                    <div class="alt">khunab</div>
                    <div class="lit">Compound noun: خون (blood) + آب (water)</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> می‌خوناب</div>
                </div>
                 
                <div class="word" title="" data-word-id="دلcccfe020-b2ce-4273-8408-3bf6887cf9ed" data-sentence-id="3">
                    دل
                    <div class="gloss">heart</div>
                    <div class="alt">del</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> دل</div>
                </div>
                 
                <div class="word" title="" data-word-id="میd4816d90-3721-43bf-974e-ad743605d7f1" data-sentence-id="3">
                    می
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="نوشم6bea5c76-dac3-44bd-871b-7bb2f1ebbf0a" data-sentence-id="3">
                    نوشم
                    <div class="gloss">I drink</div>
                    <div class="alt">minusham</div>
                    <div class="lit">Present continuous form of نوشیدن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> نوشید#نوش</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ز5d4b4367-2a5a-48e0-a997-5385a4478d09" data-sentence-id="3">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Shortened form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="خیالت1a256e5c-67d4-481d-acb8-1ab5b2cd4eb0" data-sentence-id="3">
                    خیالت
                    <div class="gloss">your imagination</div>
                    <div class="alt">khiyalat</div>
                    <div class="lit">Noun خیال + possessive ت</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خیال</div>
                </div>
                 
                <div class="word" title="" data-word-id="برخیزدb1517c1d-f8ef-413b-b8d5-ab9911dd7f40" data-sentence-id="3">
                    برخیزد
                    <div class="gloss">rises</div>
                    <div class="alt">barkhizad</div>
                    <div class="lit">Present form of برخاستن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> برخیزد</div>
                </div>
                 
                <div class="word" title="" data-word-id="بویe6ef22d2-11ba-420f-b367-bf0d983ce8f8" data-sentence-id="3">
                    بوی
                    <div class="gloss">scent</div>
                    <div class="alt">buy-e</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> بوی</div>
                </div>
                 
                <div class="word" title="" data-word-id="گلf4792b34-b735-4328-96e8-08f0501c3d7a" data-sentence-id="3">
                    گل
                    <div class="gloss">rose/flower</div>
                    <div class="alt">gol</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گل</div>
                </div>
                 
                <div class="word" title="" data-word-id="از62461fbf-91c8-4e48-ac80-7bfc911ff2da" data-sentence-id="3">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="آغوشم298be505-7027-4a7d-85d7-263f096415d9" data-sentence-id="3">
                    آغوشم
                    <div class="gloss">my embrace</div>
                    <div class="alt">aghusham</div>
                    <div class="lit">Noun آغوش + possessive م</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> آغوشت#آغوش</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="تو7cc8afe5-f65a-41a0-b671-0da43be72a3b" data-sentence-id="4">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="سیه3ce205ad-e736-4321-a88a-6cf133e38522" data-sentence-id="4">
                    سیه
                    <div class="gloss">black</div>
                    <div class="alt">siyah</div>
                    <div class="lit">Poetic form of سیاه</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> سیه</div>
                </div>
                 
                <div class="word" title="" data-word-id="چشمe13cb9e3-4d43-4374-b3d2-7e0529564bf6" data-sentence-id="4">
                    چشم
                    <div class="gloss">eye</div>
                    <div class="alt">cheshm</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> چشم</div>
                </div>
                 
                <div class="word" title="" data-word-id="ازbcc8786d-be40-445a-a6df-fcc0c8427cf8" data-sentence-id="4">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="چشمم9694d974-2418-490c-91f0-c4cc5d412707" data-sentence-id="4">
                    چشمم
                    <div class="gloss">my eye</div>
                    <div class="alt">cheshmam</div>
                    <div class="lit">Noun with first person possessive suffix</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> چشمم</div>
                </div>
                 
                <div class="word" title="" data-word-id="تاd0f19042-cf66-4cce-8c75-0c9fb7bf445e" data-sentence-id="4">
                    تا
                    <div class="gloss">when</div>
                    <div class="alt">ta</div>
                    <div class="lit">Temporal conjunction</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> تا</div>
                </div>
                 
                <div class="word" title="" data-word-id="دوریb515f0aa-714f-41c5-afc1-be64b6b08b0a" data-sentence-id="4">
                    دوری
                    <div class="gloss">are far</div>
                    <div class="alt">duri</div>
                    <div class="lit">Present form of دور بودن</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> دوری</div>
                </div>
                 
                <div class="word" title="" data-word-id="من8da8742c-0bf8-4ec9-8917-385ace0bcda0" data-sentence-id="4">
                    من
                    <div class="gloss">I</div>
                    <div class="alt">man</div>
                    <div class="lit">First person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="بیمارم0cb84c0c-9a82-485e-833f-04f4350d4ce3" data-sentence-id="4">
                    بیمارم
                    <div class="gloss">am sick</div>
                    <div class="alt">bimaram</div>
                    <div class="lit">Adjective with first person verb ending</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> بیمار</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="تو16307f8d-17bd-4552-91c8-21239606759d" data-sentence-id="4">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="سیهd46db413-c18e-436c-8701-f1b35b89548d" data-sentence-id="4">
                    سیه
                    <div class="gloss">black</div>
                    <div class="alt">siyah</div>
                    <div class="lit">Poetic form of سیاه</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> سیه</div>
                </div>
                 
                <div class="word" title="" data-word-id="گیسوa0a22469-5cea-41c6-ab26-5ee5c9e1c2ac" data-sentence-id="4">
                    گیسو
                    <div class="gloss">hair</div>
                    <div class="alt">gisu</div>
                    <div class="lit">Noun meaning long hair</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گیسو</div>
                </div>
                 
                <div class="word" title="" data-word-id="هر033efd60-860c-4b1c-8d0e-e99106204d19" data-sentence-id="4">
                    هر
                    <div class="gloss">every</div>
                    <div class="alt">har</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> DET</div>
                    <div class="dictionary"> هر</div>
                </div>
                 
                <div class="word" title="" data-word-id="شب9750f57d-c3bd-473b-b39e-a44d38eaf326" data-sentence-id="4">
                    شب
                    <div class="gloss">night</div>
                    <div class="alt">shab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> شب</div>
                </div>
                 
                <div class="word" title="" data-word-id="در1e3544b4-6bae-442b-8682-1918936c34c9" data-sentence-id="4">
                    در
                    <div class="gloss">in</div>
                    <div class="alt">dar</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> در</div>
                </div>
                 
                <div class="word" title="" data-word-id="خواب15ad8edc-558c-4c10-90cf-c7b8b2a36d7c" data-sentence-id="4">
                    خواب
                    <div class="gloss">sleep/dream</div>
                    <div class="alt">khab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خواب</div>
                </div>
                 
                <div class="word" title="" data-word-id="وf2e8d131-8f2a-4e4f-8ddf-c332945efd87" data-sentence-id="4">
                    و
                    <div class="gloss">and</div>
                    <div class="alt">va</div>
                    <div class="lit">Conjunction</div>
                    <div class="pos"> CCONJ</div>
                    <div class="dictionary"> و</div>
                </div>
                 
                <div class="word" title="" data-word-id="منd80c70c9-00fc-419c-8742-459152fbd78b" data-sentence-id="4">
                    من
                    <div class="gloss">I</div>
                    <div class="alt">man</div>
                    <div class="lit">First person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="بیدارمd9e7ab60-a972-4188-9ee0-7fbcb6300720" data-sentence-id="4">
                    بیدارم
                    <div class="gloss">am awake</div>
                    <div class="alt">bidaram</div>
                    <div class="lit">Adjective with first person verb ending</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> بیدار</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="تو2831d103-6260-4a67-8ed7-f2ea8ee46c0a" data-sentence-id="5">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="لب377794a0-d971-4cce-8cb6-d2a6fe1c8671" data-sentence-id="5">
                    لب
                    <div class="gloss">lip</div>
                    <div class="alt">lab</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> لب</div>
                </div>
                 
                <div class="word" title="" data-word-id="میگونcf698707-4c0a-42a5-9c81-6df15655fef4" data-sentence-id="5">
                    میگون
                    <div class="gloss">wine-colored</div>
                    <div class="alt">meygoon</div>
                    <div class="lit">Compound adjective from می (wine) + گون (like)</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> میگون</div>
                </div>
                 
                <div class="word" title="" data-word-id="داریc70dd838-6e1f-4fb8-951e-9a1bf716a60e" data-sentence-id="5">
                    داری
                    <div class="gloss">have</div>
                    <div class="alt">dari</div>
                    <div class="lit">Present form of داشتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> داشت#دار</div>
                </div>
                 
                <div class="word" title="" data-word-id="منe78706e4-d3c1-4071-8923-35035036d632" data-sentence-id="5">
                    من
                    <div class="gloss">I</div>
                    <div class="alt">man</div>
                    <div class="lit">First person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> من</div>
                </div>
                 
                <div class="word" title="" data-word-id="اشکbd55cb40-f807-475d-98db-ec73c67f15db" data-sentence-id="5">
                    اشک
                    <div class="gloss">tear</div>
                    <div class="alt">ashk</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> اشک</div>
                </div>
                 
                <div class="word" title="" data-word-id="گلگون2284ba58-72f6-47ad-bacf-ac695c5b2f12" data-sentence-id="5">
                    گلگون
                    <div class="gloss">rosy/rose-colored</div>
                    <div class="alt">golgun</div>
                    <div class="lit">Compound adjective from گل (rose) + گون (like)</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> گلگون</div>
                </div>
                 
                <div class="word" title="" data-word-id="دارمdf1116be-e33f-4aa4-9ec9-4cb474722d3b" data-sentence-id="5">
                    دارم
                    <div class="gloss">have</div>
                    <div class="alt">daram</div>
                    <div class="lit">Present form of داشتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> داشت#دار</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="ز9b20f49e-2138-4572-9274-742c845d681d" data-sentence-id="5">
                    ز
                    <div class="gloss">from</div>
                    <div class="alt">ze</div>
                    <div class="lit">Poetic shortened form of از</div>
                    <div class="pos"> ADP,EZ</div>
                    <div class="dictionary"> ز</div>
                </div>
                 
                <div class="word" title="" data-word-id="تو54154026-492d-4bb9-a9a3-56975c81ae1c" data-sentence-id="5">
                    تو
                    <div class="gloss">you</div>
                    <div class="alt">to</div>
                    <div class="lit">Second person singular pronoun</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> تو</div>
                </div>
                 
                <div class="word" title="" data-word-id="دلc93c89a6-f79d-4b02-b580-24c1ddef8f08" data-sentence-id="5">
                    دل
                    <div class="gloss">heart</div>
                    <div class="alt">del</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> دل‌گر</div>
                </div>
                 
                <div class="word" title="" data-word-id="گرb0473e3f-a3ef-4f5f-938f-5a54beea7b3c" data-sentence-id="5">
                    گر
                    <div class="gloss">if</div>
                    <div class="alt">gar</div>
                    <div class="lit">Conditional conjunction, poetic form of اگر</div>
                    <div class="pos"> PRON</div>
                    <div class="dictionary"> دیگر</div>
                </div>
                 
                <div class="word" title="" data-word-id="برگیرم0bf1f5ae-ff10-4d7b-b519-f145532a6323" data-sentence-id="5">
                    برگیرم
                    <div class="gloss">I take away</div>
                    <div class="alt">bargiram</div>
                    <div class="lit">Subjunctive present of برگرفتن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> برگیرم</div>
                </div>
                 
                <div class="word" title="" data-word-id="از801e0474-9722-4867-97e5-3063ab71e0c3" data-sentence-id="5">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="غمec7817db-9af1-44a9-9300-1fd63f7fbe31" data-sentence-id="5">
                    غم
                    <div class="gloss">sorrow</div>
                    <div class="alt">gham</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> غم</div>
                </div>
                 
                <div class="word" title="" data-word-id="دیگر2f19cc7c-e4ed-41b4-9d07-30e1939dafec" data-sentence-id="5">
                    دیگر
                    <div class="gloss">other</div>
                    <div class="alt">digar</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="میdf580b15-b876-4d46-87a6-d002671f333a" data-sentence-id="5">
                    می
                    <div class="gloss"></div>
                    <div class="alt"></div>
                    <div class="lit"></div>
                    <div class="pos"></div>
                    <div class="dictionary"></div>
                </div>
                 
                <div class="word" title="" data-word-id="میرم8ed777e4-ad46-4aef-a5d8-de9d788d0f50" data-sentence-id="5">
                    میرم
                    <div class="gloss">I die</div>
                    <div class="alt">mimiram</div>
                    <div class="lit">Present continuous form of مردن</div>
                    <div class="pos"> VERB</div>
                    <div class="dictionary"> مرد#میر</div>
                </div>
                
                </div> 
                <div class="word-group">
                <div class="word" title="" data-word-id="به8067a302-7c16-4ea0-8b7e-f2150e65f972" data-sentence-id="6">
                    به
                    <div class="gloss">to/by</div>
                    <div class="alt">be</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> به</div>
                </div>
                 
                <div class="word" title="" data-word-id="خداbf60c45e-f046-4002-8c8b-3c91e472261c" data-sentence-id="6">
                    خدا
                    <div class="gloss">God</div>
                    <div class="alt">khoda</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> خدا</div>
                </div>
                 
                <div class="word" title="" data-word-id="دورccd8b43b-3ca9-4394-97d7-bba0a227a42e" data-sentence-id="6">
                    دور
                    <div class="gloss">far/away</div>
                    <div class="alt">dur</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ</div>
                    <div class="dictionary"> دور</div>
                </div>
                 
                <div class="word" title="" data-word-id="ازc554aa56-9cac-4827-9b14-4420cee84592" data-sentence-id="6">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="رویت3050b0f0-e362-4830-ab79-cca08dbcf2bd" data-sentence-id="6">
                    رویت
                    <div class="gloss">your face</div>
                    <div class="alt">ruyat</div>
                    <div class="lit">Noun روی + possessive ت</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> رویت</div>
                </div>
                 
                <div class="word" title="" data-word-id="ازb39acdcf-d98a-4023-af6f-e1151285bbd4" data-sentence-id="6">
                    از
                    <div class="gloss">from</div>
                    <div class="alt">az</div>
                    <div class="lit">Preposition</div>
                    <div class="pos"> ADP</div>
                    <div class="dictionary"> از</div>
                </div>
                 
                <div class="word" title="" data-word-id="جان605d8406-76f8-44c2-bef2-8aca0a190b50" data-sentence-id="6">
                    جان
                    <div class="gloss">life/soul</div>
                    <div class="alt">jan</div>
                    <div class="lit">Noun</div>
                    <div class="pos"> NOUN,EZ</div>
                    <div class="dictionary"> جان</div>
                </div>
                 
                <div class="word" title="" data-word-id="شیرین7cca07eb-615b-414f-a1be-7ed7896d3520" data-sentence-id="6">
                    شیرین
                    <div class="gloss">sweet</div>
                    <div class="alt">shirin</div>
                    <div class="lit">Adjective</div>
                    <div class="pos"> ADJ,EZ</div>
                    <div class="dictionary"> شیرین</div>
                </div>
                 
                <div class="word" title="" data-word-id="سیرم3d18759f-64bf-4c48-a56a-43d9be65f315" data-sentence-id="6">
                    سیرم
                    <div class="gloss">I am weary/tired</div>
                    <div class="alt">siram</div>
                    <div class="lit">Present form of سیر بودن with 1st person singular ending</div>
                    <div class="pos"> NOUN</div>
                    <div class="dictionary"> سیرم</div>
                </div>
                
        </div>
    </div>
</div>

</div>
<div class="mobile-container">
    <div class="button-bar">
        <button id="toggleGlossButton">Toggle Translation</button>
        <div class="navigation-buttons">
            <button id="prevPageButton" class="nav-button" style="display: none;">Previous Page</button>
            <button id="nextPageButton" class="nav-button" style="display: none;">Next Page</button>
        </div>
    </div>


<div class="chat-container">
    <!-- Chat Interface -->
    <div class="chat-interface" id="chatInterface">
        <!-- Messages will populate here -->
    </div>
    
    <div id="highlightedTextContainer">
        <label for="highlightedText">Highlighted Text:</label>
        <div id="highlightedText"></div>
    </div>

    <!-- Input Form -->
    <div class="input-form-container">
        <form id="chatForm">
            <div class="input-wrapper">
                <textarea id="studentInput" placeholder="Type your question..." rows="1"></textarea>
            </div>
            <div class="button-wrapper">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='gloss.js') }}"></script> <!-- Ensure your JavaScript file's path is correct -->
</body>
</html>
    
    